:global([data-theme="mobilon1"]) {
  --chotto-chat-panel-width: 400px;
  --chotto-chat-panel-left: 65.3%;
  --chotto-chat-panel-padding: 12px;
  --chotto-item-chat-panel-border-color: var(--neutral-200);
}