[data-theme="dark"] {
  --chotto-modalnofooter-background: var(--chotto-theme-primary-color, #111111);
  --chotto-modalnofooter-backdrop-bg: rgba(0, 0, 0, 0.4);
  --chotto-modalnofooter-body-padding: 20px 10px;
  --chotto-modalnofooter-overflow-x: auto;
  --chotto-modalnofooter-buttons-margin: 10px 10px 10px 10px;
}


