:global([data-theme="light"]) {
  --chotto-feedkeyboard-bg-color: var(--default-white);
  --chotto-feedkeyboard-font-weight: 600;
  --chotto-feedkeyboard-padding: 2.5px 14px;
  --chotto-feedkeyboard-border: 1px solid #6C757D;
  --chotto-feedkeyboard-margin-top: 10px;
  --chotto-feedkeyboard-margin-bottom: 10px;
}


