[data-theme="dark"] {

  --app-bg: var(--neutral-900);
  --app-color: var(--neutral-100);

  /* Blocks */
  --rigth-bar-bg: var(--neutral-800);

  /* FloatContainer */
  --float-window-bg: var(--neutral-700);
  --float-window-box-shadow: 0px 0px 20px -10px rgba(144, 144, 144, 0.2);
  --float-window-bg-header: var(--neutral-800);

  /* Chat Panel */
  --chat-panel-bg: var(--neutral-800);

  /* Tool Bar */
  --sidebar-border: 1px solid var(--neutral-500);
  --sidebar-box-shadow: -13px 0px 20px -21px rgba(255, 255, 255, 0.2);

  /* Chat List */
  --chat-list-fixed-background-color: var(--neutral-900);
  --chat-list-menu-button: var(--neutral-900);
  --chat-list-menu-button-color-hover: var(--neutral-200);
  --chat-list-button-actions-bg: var(--neutral-600);
  --chat-list-button-actions-color: var(--neutral-200);

  /* Chat Filter */
  --chat-filter-input-color: var(--neutral-200);
  --chat-filter-input-border: 1px solid var(--neutral-400);
  --chat-filter-input-placeholder-color: var(--neutral-400);
  --chat-filter-hover-border-color: var(--neutral-400);
  --chat-filter-focus-border-color: var(--neutral-600);

  /* Chat Input */
  --chat-input-color: var(--neutral-200);
  --chat-input-placeholder-color: var(--neutral-400);
  --chat-input-icon-color: var(--neutral-300);

  /* File Uploader */
  --file-uploader-icon-color: var(--neutral-300);

  /* Float Container */
  --float-container-icon-color: var(--neutral-300);


  /* _____________________________________________ */

  /* Chat Item */

  /* Info Container */
  --chat-item-selected: var(--neutral-700);
  --chat-item-color-last-message: var(--neutral-400);

  /* Details Container */
  --chat-item-color-unread: var(--neutral-900);
  --chat-item-bg-unread: var(--emerald-500);

  /* _____________________________________________ */

  /* Feed */
  --feed-button-down-bg: var(--neutral-600);
  --feed-icon-color: var(--neutral-300);

  /* General Message*/
  --base-message-right-bg: var(--emerald-800);
  --base-message-left-bg: var(--neutral-700);
  --file-message-text-color: var(--neutral-200);
  --base-message-status-color-read: #00c2ff;
  --base-message-status-color-received: var(--neutral-200);

  /* File Message */
  --file-message-link-color: var(--neutral-200);
  --file-message-icon-color: var(--neutral-300);

  /* Image Message */
  --image-message-modal-icon-color: var(--neutral-300);
  --image-message-modal-bg: var(--neutral-900);


  /* _____________________________________________ */

  /* Audio Message */
  --audio-message-button-icon-color: var(--neutral-800);

  /* progress-bar-container -> pbc */
  --audio-message-pbc-background-color: var(--neutral-400);

  /* progress-bar -> pb */
  --audio-message-pb-background-color: var(--emerald-600);

  /* _____________________________________________ */

  /* Call Message */
  --call-message-color-duration: var(--neutral-200);

  /* Date Message */
  --date-message-color: var(--neutral-200);

  /* Channels */
  --channels-selector-popover-background-color: var(--neutral-600);
  --channels-selector-icon-color: var(--neutral-300);

  /* Сontext Menu */
  --context-menu-background: var(--neutral-700);

  /* Chat Input */
  --chat-input-background: var(--neutral-700);

  /* General Message */
  --base-message-color-time: var(--neutral-200);
  --base-message-subtext-color: var(--neutral-400);

  /* Scroll Bar */
  --scrollbar-bg: var(--neutral-500);
  --scrollbar-thumb-bg: var(--neutral-200);
}