[data-theme="dark"] {

  /* Chat Panel */
  --chat-panel-bg: var(--neutral-800);

  /* Tool Bar */
  --sidebar-border: 1px solid var(--neutral-500);
  --sidebar-box-shadow: -13px 0px 20px -21px rgba(255, 255, 255, 0.2);

  /* Chat List */
  --chat-list-fixed-background-color: var(--neutral-900);
  --chat-list-menu-button: var(--neutral-900);
  --chat-list-menu-button-color-hover: var(--neutral-200);
  --chat-list-button-actions-bg: var(--neutral-600);

  /* File Uploader */
  --file-uploader-icon-color: var(--neutral-300);

  /* _____________________________________________ */

  /* Chat Item */

  /* Info Container */
  --chat-item-selected: var(--neutral-800);
  --chat-item-color-last-message: var(--neutral-400);

  /* Details Container */
  --chat-item-color-unread: var(--neutral-900);

  /* Chat Info */
  --chat-info-border: 1px solid var(--neutral-500);

  /* _____________________________________________ */

  /* Feed */
  --feed-button-down-bg: var(--neutral-600);
  --feed-button-down-uread-color: var(--neutral-900);
  --feed-button-down-icon-color: var(--neutral-300);

  /* Channels */
  --channels-selector-popover-background-color: var(--neutral-600);
  --channels-selector-icon-color: var(--neutral-300);

  /* Сontext Menu */
  --context-menu-background: var(--neutral-700);

  /* Inputs */

  --chat-input-container-bg: var(--neutral-800);
  --chat-input-icon-color: var(--neutral-300);
  --chat-input-icon-color-disabled: var(--neutral-600);
  
  --input-background: var(--neutral-700);
  --input-font-size: 16px;
  --input-padding: 0.5rem 0.75rem;
  --input-width: 100%;
  --input-border-radius: 0 0 12px 12px;
  --input-transition-duration: 0.2s;
  --input-text-color: var(--neutral-200);
  --input-border: 1px solid var(--neutral-500);
  --input-placeholder-color: var(--neutral-400);
  --input-hover-border-color: var(--neutral-500);
  --input-focus-border-color: var(--neutral-600);

  /* Scroll Bar */
  --scrollbar-bg: var(--neutral-600);
  --scrollbar-thumb-bg: var(--neutral-400);

  /* Template Selector */
  --template-selector-bg: var(--neutral-800);
  --template-selector-item-hover: var(--neutral-700);
  --template-selector-item-selected: var(--neutral-600);
  --template-selector-border: 1px solid var(--neutral-400);
  --template-selector-icon-color: var(--neutral-400);
  --template-selector-preview-bg: var(--neutral-800);
  --template-selector-button-paste-bg: var(--neutral-600);
  --template-selector-button-paste-color: var(--neutral-100);
}