[data-theme="dark"] {

  /* Extended layout */
  --layout-extended-third-col-bg: var(--neutral-800);
  --layout-extended-bg: var(--neutral-900);

  /* Base Layout */
  --layout-base-bg: var(--neutral-900);
  --layout-base-second-col-bg: var(--neutral-800);
  --layout-base-column-border: 1px solid var(--neutral-200);
  /* Feed Layout */
}