[data-theme="dark"] {
  /* Layouts */
  /* Extended layout */
  --chotto-layout-extended-third-col-bg: var(--neutral-800);
  --chotto-layout-extended-second-col-bg: var(--neutral-900);
  --chotto-layout-extended-first-col-bg: var(--neutral-800);

  /* Base layout */
  --chotto-layout-base-second-col-bg: var(--neutral-800);
  --chotto-layout-base-first-col-bg: var(--neutral-900);
  
  /* Feed layout */
  --chotto-layout-feed-bg: var(--neutral-900);
}
