[data-theme="dark"] {
  /* General Message*/
  --base-message-right-bg: var(--emerald-800);
  --base-message-left-bg: var(--neutral-700);

  --base-message-text-font-size: 16px;

  --base-message-time-color: var(--neutral-200);
  --base-message-time-font-size: 12px;

  --base-message-remaining-time-font-size: 12px;

  --base-message-status-font-size: 12px;
  --base-message-status-color-received: var(--neutral-200);
  --base-message-status-color-read: #00c2ff;
  --base-message-status-font-weight: var(--regular-font-weight);

  --base-message-views-font-size: 12px;
  --base-message-views-icon-font-size: 13px;
  --base-message-views-color: var(--neutral-200);
  
  --base-message-subtext-color: var(--neutral-400);
  --base-message-subtext-font-size: var(--font-mid-size);
  --base-message-subtext-font-weight: 500;

  --base-message-menu-button-font-size: 20px;
  --base-message-menu-button-color: var(--neutral-500);
  --base-message-menu-button-hover-color: var(--neutral-700);

  --base-message-margin: 0 0 10px 0;

  /* Focused message */
  --focused-message-color: rgba(168, 243, 134, 0.5);
  --focused-message-background-color: var(--focused-message-color);
  --focused-message-box-shadow-color: var(--focused-message-color);

  /* Message Keyboard*/
  --keyboard-background-color: var(--neutral-800);
  --keyboard-border: 1px solid var(--neutral-700);
  --keyboard-shadow-color: var(--neutral-600);
  --keyboard-font-size: var(--base-message-font-size-text);

  /* Reply Messages */
  --reply-message-right-bg: var(--emerald-700);
  --reply-message-left-bg: var(--neutral-600);
  --reply-message-color: var(--neutral-200);
  --reply-message-text-font-size: var(--font-mid-size);
  --reply-message-before-bg: var(--emerald-400);
  --reply-message-border: 1px solid var(--neutral-300);

  /* Link Preview */
  --link-preview-right-bg: var(--emerald-700);
  --link-preview-left-bg: var(--neutral-600);
  --link-preview-before-bg: var(--emerald-400);

  /* Typing Message */
  --typing-message-shadow-color: var(--neutral-500);
  /* _____________________________________________ */
  /* Date Message */
  --date-message-color: var(--neutral-200);
  --date-message-bg: var(--neutral-700);
  --date-message-font-size: var(--font-mid-size);
  --date-message-font-weight: 500;
  --date-message-border: 1px solid var(--neutral-500);
  /* _____________________________________________ */
  /* File Message */

  --file-message-icon-color: var(--neutral-300);
  --file-message-text-color: var(--neutral-200);

  --file-message-download-button-color: var(--neutral-500);
  --file-message-download-button-font-weight: 600;
  --file-message-download-button-font-size: var(--font-mid-size);

  /* Image Message */
  --image-message-modal-icon-color: var(--neutral-300);
  --image-message-modal-bg: var(--neutral-900);
  --image-message-download-button-font-size: var(--font-mid-size);

  /* _____________________________________________ */

  /* Audio Message */
  --audio-message-button-icon-color: var(--neutral-800);
  --audio-message-button-icon-bg-color: var(--neutral-400);
  --audio-message-button-icon-font-size: var(--icon-font-size-medium);

  --audio-message-download-button-color: var(--neutral-300);
  --audio-message-download-button-font-weight: 600;
  --audio-message-download-button-font-size: var(--font-mid-size);
  
  --audio-message-transcript-color: var(--neutral-200);
  --audio-message-transcript-delimiter-color: var(--neutral-400);

  /* progress-bar-container -> pbc */
  --audio-message-pbc-background-color: var(--neutral-400);

  /* progress-bar -> pb */
  --audio-message-pb-background-color: var(--emerald-600);

  /* _____________________________________________ */

  /* Call Message */
  --call-message-title-font-size: var(--font-large-size);
  --call-message-title-font-weight: 500;

  --call-message-phone-icon-bg-color: var(--neutral-400);
  --call-message-phone-icon-color: var(--p-red-500);
  --call-message-phone-icon-font-size: var(--avatar-icon-size-small);

  --call-message-duration-font-size: var(--font-midX-size);
  --call-message-duration-color: var(--neutral-200);

  --call-message-download-button-color: var(--neutral-200);
  --call-message-download-button-font-weight: 600;
  --call-message-download-button-font-size: var(--font-mid-size);

  --call-message-transcription-start-symbol-bg-color: var(--neutral-700);
  --call-message-transcription-text-font-size: 22px;
  --call-message-transcription-time-color: var(--neutral-600);
  /* _____________________________________________ */

  /* Videp Message */
  --video-message-info-color: var(--default-white);
  --video-message-info-bg-color: rgb(0 0 0 / 39%);
  --video-message-download-button-font-size: var(--font-mid-size);

  /* _____________________________________________ */

  /* System Message */

  --system-message-bg-color: #ffeecc;
  --system-message-font-size: var(--font-midX-size);
  --system-message-color: var(--neutral-600);
}