[data-theme="dark"] {

  --chotto-message-right-bg: var(--emerald-800);
  --chotto-message-right-secondary-bg: var(--emerald-700);
  --chotto-message-left-bg: var(--neutral-700);
  --chotto-message-left-secondary-bg: var(--neutral-600);
  
  --chotto-message-accent-line-color: var(--emerald-400);
  --chotto-message-focused-color: #8df392;

  --chotto-message-margin: 0 0 8px 0;

  --chotto-message-type-icon-bg-color: var(--neutral-400);
  --chotto-message-type-icon-color: var(--neutral-100);

  --chotto-message-popup-info-bg-color: rgb(0 0 0 / 39%);
  --chotto-message-popup-info-color: var(--default-white);

  /* Audio Message */
  --chotto-audio-message-transcript-delimiter-color: var(--neutral-400);
  --chotto-audio-message-pbc-background-color: var(--neutral-400);
  --chotto-audio-message-pb-background-color: var(--emerald-500);

  /* Call Message */
  --chotto-call-message-phone-icon-missed-color: var(--p-red-500);

  /* System Message */
  --chotto-system-message-bg-color: #5c4c2e;
}