[data-theme="mobilon1"] {

  --chotto-theme-font-family: "Open Sans", sans-serif;
  --chotto-theme-container-font-weight: var(--regular-font-weight);
  --chotto-theme-container-borders: 1px solid var(--neutral-200);

  --chotto-theme-primary-color: #ffffff;
  --chotto-theme-secondary-color: #faf6f4;

  --chotto-theme-primary-text-color: var(--neutral-850);
  --chotto-theme-secondary-text-color: var(--neutral-550);

  --chotto-theme-header-font: "Inter", sans-serif;
  --chotto-theme-header-font-size: 20px;
  --chotto-theme-header-font-color: var(--neutral-550);
  --chotto-theme-title-font-size: 16px;
  --chotto-theme-text-font-size: 14px;
  --chotto-theme-additional-text-font-size: 14px;
  --chotto-theme-small-text-font-size: 12px;
  --chotto-theme-small-text-font-weight: 600;
  --chotto-theme-context-menu-font-size: 14px;

  --chotto-theme-header-font-weight: 700;
  --chotto-theme-title-font-weight: 400;

  --chotto-theme-button-icon-size: 23px;
  --chotto-theme-text-icon-size: 14px;
  --chotto-theme-small-text-icon-size: 12px;

  --chotto-theme-button-color-active: var(--neutral-600);
  --chotto-theme-button-color-hover: var(--neutral-700);
  --chotto-theme-button-color-disabled: var(--neutral-200);

  --chotto-theme-shadow-color: var(--neutral-800);
  --chotto-theme-shadow-light-color: var(--neutral-300);
  
  --chotto-theme-status-color-received: var(--neutral-850);
  --chotto-theme-status-color-read: var(--azure-600);

  --chotto-theme-item-background-color-focus: var(--neutral-75);
  --chotto-theme-item-background-color-hover: var(--neutral-90);

  --chotto-theme-item-border-color: var(--neutral-250);

  --chotto-theme-unread-background-color: var(--p-red-550);
  --chotto-theme-unread-text-color: var(--neutral-50); 

  --chotto-theme-action-button-color-active: #00cbfa;
  --chotto-theme-action-button-color-hover: #3fddff;
  --chotto-theme-action-button-color-disabled: #b4e8f9;
/* не применяется*/
  --chotto-theme-danger-button-color-active: '';
  --chotto-theme-danger-button-color-hover: '';
  --chotto-theme-danger-button-color-disabled: '';
}