[data-theme="mobilon1"] {
  /* Layouts */
  /* Extended layout */
  --chotto-theme-layout-extended-third-col-bg: #FAF6F4;
  --chotto-theme-layout-extended-second-col-bg: #ffffff;
  --chotto-theme-layout-extended-first-col-bg: #FAF6F4;
  --chotto-theme-layout-extended-first-col-width: 70px;
  --chotto-theme-layout-extended-second-col-width: 508px;

  /* Base layout */
  --chotto-theme-layout-base-second-col-bg: #FAF6F4;
  --chotto-theme-layout-base-first-col-bg: #ffffff;
  
  /* Feed layout */
  --chotto-theme-layout-feed-bg: #FAF6F4;
}
