.participant-list {
  margin-top: 10px;
  max-height: 200px;
  overflow: auto;
}

.participant-item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.participant-item input[type='checkbox'] {
	margin-right: 10px;
}
