// Импорты компонентов для темы mobilon1

// Atoms
@use '../../components/atoms/Modal/styles/themes/mobilon1.scss' as modal-mobilon1;
@use '../../components/atoms/ModalFullscreen/styles/themes/mobilon1.scss' as modalfullscreen-mobilon1;
@use '../../components/atoms/ModalNoFooter/styles/themes/mobilon1.scss' as modalnofooter-mobilon1;
@use '../../components/atoms/Tooltip/styles/themes/mobilon1.scss' as tooltip-mobilon1;

// Blocks
@use '../../components/blocks/ChatItem/styles/themes/mobilon1.scss' as chatitem-mobilon1;
@use '../../components/blocks/ChatList/styles/themes/mobilon1.scss' as chatlist-mobilon1;
@use '../../components/blocks/ChatPanel/styles/themes/mobilon1.scss' as chatpanel-mobilon1;
@use '../../components/blocks/FeedFoundItem/styles/themes/mobilon1.scss' as feedfounditem-mobilon1;
@use '../../components/blocks/FeedFoundObjects/styles/themes/mobilon1.scss' as feedfoundobjects-mobilon1;
@use '../../components/blocks/FeedSearch/styles/themes/mobilon1.scss' as feedsearch-mobilon1;
@use '../../components/blocks/MessageKeyboard/styles/themes/mobilon1.scss' as messagekeyboard-mobilon1;

// Compounds
@use '../../components/compounds/ChatInput/styles/themes/mobilon1.scss' as chatinput-mobilon1;
@use '../../components/compounds/CommunicationPanel/styles/themes/mobilon1.scss' as communicationpanel-mobilon1;

  // Feed
  @use '../../components/compounds/Feed/styles/themes/mobilon1.scss' as feed-mobilon1;

    // Feed Messages
    @use '../../components/compounds/Feed/messages/AudioMessage/styles/themes/mobilon1.scss' as audiomessage-mobilon1;
    @use '../../components/compounds/Feed/messages/BaseReplyMessage/styles/themes/mobilon1.scss' as basereplymessage-mobilon1;
    @use '../../components/compounds/Feed/messages/CallMessage/styles/themes/mobilon1.scss' as callmessage-mobilon1;
    @use '../../components/compounds/Feed/messages/DateMessage/styles/themes/mobilon1.scss' as datemessage-mobilon1;
    @use '../../components/compounds/Feed/messages/DateMessageSticky/styles/themes/mobilon1.scss' as datemessagesticky-mobilon1;
    @use '../../components/compounds/Feed/messages/FileMessage/styles/themes/mobilon1.scss' as filemessage-mobilon1;
    @use '../../components/compounds/Feed/messages/ImageMessage/styles/themes/mobilon1.scss' as imagemessage-mobilon1;
    @use '../../components/compounds/Feed/messages/ReplyAudioMessage/styles/themes/mobilon1.scss' as replyaudiomessage-mobilon1;
    @use '../../components/compounds/Feed/messages/ReplyCallMessage/styles/themes/mobilon1.scss' as replycallmessage-mobilon1;
    @use '../../components/compounds/Feed/messages/ReplyFileMessage/styles/themes/mobilon1.scss' as replyfilemessage-mobilon1;
    @use '../../components/compounds/Feed/messages/ReplyImageMessage/styles/themes/mobilon1.scss' as replyimagemessage-mobilon1;
    @use '../../components/compounds/Feed/messages/ReplyTextMessage/styles/themes/mobilon1.scss' as replytextmessage-mobilon1;
    @use '../../components/compounds/Feed/messages/ReplyVideoMessage/styles/themes/mobilon1.scss' as replyvideomessage-mobilon1;
    @use '../../components/compounds/Feed/messages/SystemMessage/styles/themes/mobilon1.scss' as systemmessage-mobilon1;
    @use '../../components/compounds/Feed/messages/TextMessage/styles/themes/mobilon1.scss' as textmessage-mobilon1;
    @use '../../components/compounds/Feed/messages/TypingMessage/styles/themes/mobilon1.scss' as typingmessage-mobilon1;
    @use '../../components/compounds/Feed/messages/VideoMessage/styles/themes/mobilon1.scss' as videomessage-mobilon1;

@use '../../components/compounds/ModalVideoRecorder/styles/themes/mobilon1.scss' as modalvideorecorder-mobilon1;
@use '../../components/compounds/SideBar/styles/themes/mobilon1.scss' as sidebar-mobilon1;
@use '../../components/compounds/TemplateSelector/styles/themes/mobilon1.scss' as templateselector-mobilon1;
@use '../../components/compounds/UserProfile/styles/themes/mobilon1.scss' as userprofile-mobilon1;

// Containers
@use '../../components/containers/BaseContainer/styles/themes/mobilon1.scss' as basecontainer-mobilon1;
@use '../../components/containers/FloatContainer/styles/themes/mobilon1.scss' as floatcontainer-mobilon1;
@use '../../components/containers/PlaceholderComponent/styles/themes/mobilon1.scss' as placeholdercomponent-mobilon1;
@use '../../components/containers/SplashScreen/styles/themes/mobilon1.scss' as splashscreen-mobilon1;

// Elements
@use '../../components/elements/AudioRecorder/styles/themes/mobilon1.scss' as audiorecorder-mobilon1;
@use '../../components/elements/ButtonCommandsSelector/styles/themes/mobilon1.scss' as buttoncommandssel-mobilon1;
@use '../../components/elements/ButtonContextMenu/styles/themes/mobilon1.scss' as buttoncontextmenu-mobilon1;
@use '../../components/elements/ButtonEmojiPicker/styles/themes/mobilon1.scss' as buttonemojipicker-mobilon1;
@use '../../components/elements/ButtonTemplateSelector/styles/themes/mobilon1.scss' as buttontemplatesel-mobilon1;
@use '../../components/elements/ButtonWabaTemplateSelector/styles/themes/mobilon1.scss' as buttonwabatemplatesel-mobilon1;
@use '../../components/elements/ChannelSelector/styles/themes/mobilon1.scss' as channelselector-mobilon1;
@use '../../components/elements/ChatFilter/styles/themes/mobilon1.scss' as chatfilter-mobilon1;
@use '../../components/elements/ChatInfo/styles/themes/mobilon1.scss' as chatinfo-mobilon1;
@use '../../components/elements/ChatTabs/styles/themes/mobilon1.scss' as chattabs-mobilon1;
@use '../../components/elements/ContactInfo/styles/themes/mobilon1.scss' as contactinfo-mobilon1;
@use '../../components/elements/ContextMenu/styles/themes/mobilon1.scss' as contextmenu-mobilon1;
@use '../../components/elements/FeedKeyboard/styles/themes/mobilon1.scss' as feedkeyboard-mobilon1;
@use '../../components/elements/FilePreview/styles/themes/mobilon1.scss' as filepreview-mobilon1;
@use '../../components/elements/FileUploader/styles/themes/mobilon1.scss' as fileuploader-mobilon1;
@use '../../components/elements/ThemeMode/styles/themes/mobilon1.scss' as thememode-mobilon1;
@use '../../components/elements/VideoRecorder/styles/themes/mobilon1.scss' as videorecorder-mobilon1;
@use '../../components/elements/WABAAttachmentSection/styles/themes/mobilon1.scss' as wabaattachment-mobilon1;
@use '../../components/elements/WABAQuickReplyButtons/styles/themes/mobilon1.scss' as wabaquickreply-mobilon1;
@use '../../components/elements/WABASeparatedQuickButtons/styles/themes/mobilon1.scss' as wabaseparatedquick-mobilon1;
@use '../../components/elements/WABATemplateSelector/styles/themes/mobilon1.scss' as wabatemplatesel-mobilon1;

// Layouts
@use '../../components/layouts/AdaptiveExtendedLayout/styles/themes/mobilon1.scss' as adaptiveextendedlayout-mobilon1;
@use '../../components/layouts/BaseLayout/styles/themes/mobilon1.scss' as baselayout-mobilon1;
@use '../../components/layouts/ChatWrapper/styles/themes/mobilon1.scss' as chatwrapper-mobilon1;
@use '../../components/layouts/ExtendedLayout/styles/themes/mobilon1.scss' as extendedlayout-mobilon1;
@use '../../components/layouts/FeedLayout/styles/themes/mobilon1.scss' as feedlayout-mobilon1;

// Molecules
@use '../../components/molecules/CreateDialog/styles/themes/mobilon1.scss' as createdialog-mobilon1;
@use '../../components/molecules/EmbedPreview/styles/themes/mobilon1.scss' as embedpreview-mobilon1;
@use '../../components/molecules/LinkPreview/styles/themes/mobilon1.scss' as linkpreview-mobilon1;
@use '../../components/molecules/SelectUser/styles/themes/mobilon1.scss' as selectuser-mobilon1;
@use '../../components/molecules/SelectUser2/styles/themes/mobilon1.scss' as selectuser2-mobilon1;










