@use './themes/default.scss';
@use './themes/dark.scss';
@use './themes/green.scss';
@use './themes/mobilon1.scss';

.channels {
  &__container {
    display: flex;
  }

  &__container-disabled{
    color: var(--chotto-button-color-disabled);
  }

  &__title {
    font-size: var(--chotto-text-font-size);
  }

  &__selected {
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    column-gap: 6px;
    align-items: center;
    margin-left: 10px;
  }

  &__icon {
    display: block;
    height: fit-content;
    width: var(--chotto-text-font-size);
    height: var(--chotto-text-font-size);
  }

  &__trigger{
    padding: var(--chotto-chat-input-button-padding)var(--chotto-chat-input-button-padding);
    display: block;
    cursor: pointer;
    font-size: var(--chotto-button-icon-size);
    color: var(--chotto-button-color-active);
  }

  &__trigger:hover{
    color: var(--chotto-button-color-hover);
  }

  &__disabled {
    color: var(--chotto-button-color-disabled);
    cursor: auto;
    pointer-events: none;
  }
}


