@use './themes/default.scss';
@use './themes/dark.scss';
@use './themes/green.scss';
@use './themes/mobilon1.scss';

.channels {
  &__container {
    display: var(--chotto-channelselector-container-display, flex);
  }

  &__container-disabled{
    color: var(--chotto-channelselector-container-disabled-color);
  }

  &__title {
    font-size: var(--chotto-channelselector-title-font-size);
  }

  &__selected {
    height: var(--chotto-channelselector-selected-height, fit-content);
    margin: var(--chotto-channelselector-selected-margin, auto);
    display: var(--chotto-channelselector-selected-display, flex);
    justify-content: var(--chotto-channelselector-selected-justify-content, flex-start);
    column-gap: var(--chotto-channelselector-selected-column-gap, 6px);
    align-items: var(--chotto-channelselector-selected-align-items, center);
    margin-left: var(--chotto-channelselector-selected-margin-left, 10px);
  }

  &__icon {
    display: var(--chotto-channelselector-icon-display, block);
    height: var(--chotto-channelselector-icon-height, fit-content);
    width: var(--chotto-channelselector-icon-width);
    height: var(--chotto-channelselector-icon-height);
  }

  &__trigger{
    padding: var(--chotto-channelselector-trigger-padding);
    display: var(--chotto-channelselector-trigger-display, block);
    cursor: var(--chotto-channelselector-trigger-cursor, pointer);
    font-size: var(--chotto-channelselector-trigger-font-size);
    color: var(--chotto-channelselector-trigger-color);
  }

  &__trigger:hover{
    color: var(--chotto-channelselector-trigger-hover-color);
  }

  &__disabled {
    color: var(--chotto-channelselector-disabled-color);
    cursor: var(--chotto-channelselector-disabled-cursor, auto);
    pointer-events: var(--chotto-channelselector-disabled-pointer-events, none);
  }
}


