@use './themes/default.scss';
@use './themes/dark.scss';
@use './themes/green.scss';
@use './themes/mobilon1.scss';

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--chotto-modalnofooter-backdrop-bg, rgba(0, 0, 0, 0.3));
    display: flex;
    justify-content: center;  
    align-items: center;
    z-index:1000;
}

.modal {
    background: var(--chotto-modalnofooter-background, #ffffff);
    color: var(--chotto-theme-primary-text-color);
    font-family: var(--chotto-theme-font-family);
    overflow-x: var(--chotto-modalnofooter-overflow-x, auto);
    display: flex; 
    flex-direction: column;
    position: relative;
    padding: var(--chotto-modalnofooter-body-padding, 20px 10px);
}

.buttons {
  display: block;
  margin: var(--chotto-modalnofooter-buttons-margin, 10px 10px 10px 10px);
}

.modal-fade-enter,
.modal-fade-leave-to {
    opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
    transition: opacity 0.5s ease;
}
