.chat-item {

  &__container {
    grid-row: 1;
    grid-column: 1 / 2;
    display: flex;
    position: relative;
    padding: var(--chotto-chatitem-padding-container);
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      transform: translateX(var(--chotto-chatitem-divider-translate-x, 15%));
      width: var(--chotto-chat-list-container-border-bottom-width, 416px);
      height: var(--chotto-chat-list-container-border-bottom-height, 1px);
      background-color: var(--chotto-chat-list-container-border-bottom-color, #F3F3F3);
    }

    &:hover {
      background-color: var(--chotto-theme-item-background-color-hover, #F6F6F6);
    }
  }


  &__selected {
    cursor: pointer;
    border-radius: var(--chotto-chatitem-border-radius);
    background: var(--chotto-theme-item-background-color-focus);

    .chat-item__menu-button {
      background: var(--chotto-theme-item-background-color-focus);
    }
  }

  &__avatar-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    object-fit: cover;
    margin-right: var(--chotto-chatitem-avatar-margin-right, 15px);
    /* background-color: var(--chotto-avatar-background-color); */
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;

    span {
      font-size: 21px;
      color: var(--neutral-500);
    }

    img {
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__avatar-placeholder {
    width: var(--chotto-chatitem-avatar-placeholder-size, 48px);
    height: var(--chotto-chatitem-avatar-placeholder-size, 48px);
  }

  &__status-user {
    position: absolute;
    bottom: 0;
    right: var(--chotto-chatitem-status-user-right, 5px);
    display: block;
    width: var(--chotto-chatitem-status-user-size, 10px);
    height: var(--chotto-chatitem-status-user-size, 10px);
    border-radius: 50%;
    background-color: transparent;
    z-index: 1;
  }

  &__info-container {
    flex-grow: 1;
    align-self: flex-start;
    margin-right: var(--chotto-chatitem-info-margin-right, 15px);
    overflow: hidden;
  }

  &__name {
    margin-top: var(--chotto-chatitem-name-margin-top, 0);
    margin-bottom: var(--chotto-chatitem-name-margin-bottom, 8px);
    font-size: var(--chotto-theme-title-font-size);
    font-weight: var(--chotto-theme-title-font-weight);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &__last-message {
    font-size: var(--chotto-theme-text-font-size);
    color: var(--chotto-theme-secondary-text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;

  }

  &__details-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    
    span {
      color: var(--chotto-theme-button-color-active);
    }
  }

  &__actions-trigger{
    display: block;
    cursor: pointer;
    font-size: var(--chotto-theme-button-icon-size);
    color: var(--chotto-theme-button-color-active);
  }

  &__actions-trigger:hover{
    color: var(--chotto-theme-button-color-hover);
  }

  &__menu-button {
    order: 0;
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;

    span {
      display: block;
      width: fit-content;
      margin-left: auto;
      font-size: var(--chotto-chatitem-menu-button-font-size, 18px);
      transition: 0.2s;
    }

    &:hover span {
      color: var(--chotto-theme-button-color-hover);
      transition: 0.2s;
    }
  }

  &__unread {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--chotto-unread-border-radius, 50%);
    margin-left: auto;
    margin-top: auto;
    min-width: var(--chotto-unread-min-width, 25px);
    min-height: var(--chotto-unread-min-height, 25px);
    max-height: var(--chotto-chatitem-unread-max-height, 20px);
    font-size: var(--chotto-theme-additional-text-font-size);
    font-weight: var(--chotto-unread-font-weight, 400);
    color: var(--chotto-theme-unread-text-color);
    background-color: var(--chotto-theme-unread-background-color);
    padding: var(--chotto-chatitem-unread-padding, 0 6px);
  }

  &__time {
    font-size: var(--chotto-theme-additional-text-font-size);
    color: var(--chotto-theme-secondary-text-color);
    white-space: nowrap;
  }

  &__context-menu {
    position: absolute;
    top: var(--chotto-chatitem-context-menu-top, 40%);
    right: 0;
  }

  &__status-chat-container {
    display: flex;
    align-items: center;
    column-gap: var(--chotto-chatitem-status-gap, 4px);
    margin-top: auto;
  }

  &__status-message {
    display: flex;

    span {
      color: var(--chotto-theme-status-color-received);
      font-size: var(--chotto-theme-text-font-size);
    }
  }

  &__dialog-buttons{
    display: flex;
    margin-left: 8px;
  }
}

.dialog{
  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    gap: var(--chotto-chatitem-dialog-gap, 5px);
    padding: var(--chotto-chatitem-dialog-padding);
  }

  &__icon{
    margin: auto;
  }

  &__item{
    display: flex;
    padding: var(--chotto-chatitem-dialog-item-padding, 3px);
  }

  &__selected {
    cursor: pointer;
    border-radius: var(--chotto-chatitem-border-radius);
    background: var(--chotto-theme-item-background-color-focus);
  }

  &__text-container {
    display: flex;
    justify-content: space-between;
    font-size: var(--chotto-theme-text-font-size);
    color: var(--chotto-theme-primary-text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding: var(--chotto-chatitem-text-container-padding, 0 5px);
    margin: auto;
  }

  &__name{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &__time{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    color: var(--chotto-theme-secondary-text-color);
    font-size: var(--chotto-theme-additional-text-font-size)
  }
}

.status--received span {
  color: var(--chotto-theme-status-color-received);
}

.status--read span {
  color: var(--chotto-theme-status-color-read);
}

.status--received span:first-child,
.status--read span:first-child {
  margin-right: var(--chotto-chatitem-status-first-icon-margin-right, -8px);
}

.text-enter-active,
.text-leave-active {
  transition: opacity 0.2s ease;
}

.text-enter-from,
.text-leave-to {
  opacity: 0;
}

.menu-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.menu-enter-from,
.menu-leave-to {
  transform: translateY(var(--chotto-chatitem-menu-enter-translate-y, 20px));
  opacity: 0;
}
