@use './themes/default.scss';
@use './themes/dark.scss';
@use './themes/green.scss';
@use './themes/mobilon1.scss';

.feed-keyboard {
  &__container {
    display: flex;
    margin-top: var(--chotto-feedkeyboard-margin-top, 10px);
    margin-bottom: var(--chotto-feedkeyboard-margin-bottom, 10px);
    flex-wrap: wrap;
    max-width: 100%;
    gap: 10px;
  }

  &__container--left {
    justify-content: flex-start;
    margin-left: 0;
    margin-right: auto;
  }

  &__container--center {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  &__container--right {
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
  }

  &__button {
    background: var(--chotto-feedkeyboard-bg-color);
    word-wrap: break-word;
    max-width: 100%;
    cursor: pointer;
    padding: var(--chotto-feedkeyboard-padding, 3px 16px);
    border: var(--chotto-feedkeyboard-border, 1px solid #6C757D);
    border-radius: 15px;

    p {
      font-size: var(--chotto-text-font-size);
      margin: 0;
      font-weight: var(--chotto-feedkeyboard-font-weight, 600);
    }
  }
}


