
.feed-search {
  &__container{
    display: var(--chotto-feedsearch-container-display, flex);
    position: var(--chotto-feedsearch-container-position, relative);
    margin-top: var(--chotto-feedsearch-container-margin-top, 10px);
    padding-left: var(--chotto-feedsearch-container-padding-left, 12px);
    padding-right: var(--chotto-feedsearch-container-padding-right, 12px);
    margin-bottom: var(--chotto-feedsearch-container-margin-bottom, 10px);
    
    i{
      position: var(--chotto-feedsearch-icon-position, absolute);
      right: var(--chotto-feedsearch-icon-right, 20px);
      top: var(--chotto-feedsearch-icon-top, 11px)
    }

    i:hover{
      cursor: var(--chotto-feedsearch-icon-hover-cursor, pointer);
    }
  }

  &__input {
    width: var(--chotto-feedsearch-input-width, 100%);
    background-color: var(--chotto-input-background);
    color: var(--chotto-feedsearch-input-text-color);
    padding: var(--chotto-input-padding);
    border: var(--chotto-input-border);
    border-radius: var(--chotto-input-border-radius);
    font-size: var(--chotto-input-font-size);
    transition: var(--chotto-feedsearch-input-transition, border-color var(--chotto-input-transition-duration));
    margin-left: var(--chotto-feedsearch-input-margin-left, 10px);
    &::placeholder {
      color: var(--chotto-feedsearch-input-placeholder-text-color);
    }

    &:hover {
      border-color: var(--chotto-input-hover-border-color);
    }

    &:focus-visible {
      border-color: var(--chotto-input-focus-border-color);
      outline: var(--chotto-feedsearch-input-focus-outline, none);
    }
  }
}

.v-enter-active {
  transition: var(--chotto-feedsearch-enter-transition, all var(--chotto-feedsearch-enter-duration, 2s) ease-out);
}

.v-leave-active {
  transition: var(--chotto-feedsearch-leave-transition, all var(--chotto-feedsearch-leave-duration, 2s) cubic-bezier(1, 0.5, 0.8, 1));
}

.v-enter-from,
.v-leave-to {
  transform: var(--chotto-feedsearch-transform, scale(var(--chotto-feedsearch-scale, 0.9)));
  opacity: var(--chotto-feedsearch-opacity, 0);
}
