.feed-search {
  &__container{
    display: flex;
    position: relative;
    margin-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 10px;
    
    i{
      position: absolute;
      right: 20px;
      top: 11px
    }

    i:hover{
      cursor: pointer;
    }
  }

  &__input {
    width: 100%;
    background-color: var(--chotto-input-background);
    color: var(--chotto-primary-text-color);
    padding: var(--chotto-input-padding);
    border: var(--chotto-input-border);
    border-radius: var(--chotto-input-border-radius);
    font-size: var(--chotto-input-font-size);
    transition: border-color var(--chotto-input-transition-duration);
    margin-left: 10px;
    &::placeholder {
      color: var(--chotto-secondary-text-color);
    }

    &:hover {
      border-color: var(--chotto-input-hover-border-color);
    }

    &:focus-visible {
      border-color: var(--chotto-input-focus-border-color);
      outline: none;
    }
  }
}

.v-enter-active {
  transition: all 2s ease-out;
}

.v-leave-active {
  transition: all 2s cubic-bezier(1, 0.5, 0.8, 1);
}

.v-enter-from,
.v-leave-to {
  transform: scale(0.9);
  opacity: 0;
}
