.separated-quick-buttons{
  width: 100%;
  position: absolute;
  left:0; right:0; bottom:0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: var(--chotto-primary-color);
  white-space: pre-wrap;

  &__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    
    p{
      font-size: var(--chotto-text-font-size);
      margin-left: auto;
      margin-right: auto;
    }
    
    span{
      cursor: pointer;
    }
  }

  &__actions{
    border-top: 1px solid var(--chotto-item-border-color);
    max-height: 200px;
    overflow-y: auto;
  }

  &__action {
    position: relative;
    z-index: 0;
    width: 90%;
    font-size: var(--chotto-text-font-size);
    margin-right: auto;
    margin-left: 25px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
  }
}


