.communication-panel {
  position: relative;
  display: inline-block;
}

.channels-panel {
  display: flex;
  background: white;
  border: 0.01rem solid;
  border-radius: 5px;
  border-color: #EEEEEE;
  padding: 0px;
  gap: 0;
  position: relative;
  height: 40px;
}

.channel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: transparent;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  width: var(--chotto-communication-panel-btn-width, 50px);
}

.channel-btn:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 25%;
  bottom: 25%;
  width: 1px;
  background-color: var(--chotto-communication-panel-btn-divider-color, #F6F6F6);
}

.channel-btn:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.channel-btn:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.channel-btn.hover {
  background: var(--chotto-item-background-color-hover, #F6F6F6);
}

.channel-btn.active {
  color: var(--chotto-communication-panel-btn-active-color, #007CFF);
}

.active-indicator {
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  width: 48%;
  height: 2px;
  background: var(--chotto-communication-panel-btn-active-color, #007CFF);
  border-radius: 20px;
}

.channel-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.attributes-menu {
  position: absolute;
  top: 108%;
  left: 0;
  background: white;
  border: 1px solid #e9e7e7;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.08);
  padding: 8px 0;
  z-index: 1000;
  max-height: 300px;
  gap: 2px;
}

.menu-header {
  padding: 8px 16px 4px;
  font-size: var(--chotto-text-font-size);
  color: var(--chotto-secondary-text-color);
  font-weight: 500;
  letter-spacing: 0.5px;
}

.recent-attribute,
.attribute-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 16px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.recent-attribute:hover,
.attribute-item:hover {
  background: var(--chotto-item-background-color-hover);
}

.attribute-info {
  display: flex;
  flex-direction: column;
}

.attribute-value {
  font-weight: 500;
  font-size: var(--chotto-text-font-size);
  color: var(--chotto-primary-text-color);
}

.channel-icon-small {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.menu-icon-grey {
  color: #5F5F5F;
}

.menu-icon {
  color: #999;
  font-weight: bold;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-icon-arrow {
  width: 9px;
  height: 9px;
  border-top: 1px solid #5F5F5F;
  border-right: 1px solid #5F5F5F;
  transform: rotate(45deg);
}

.menu-divider {
  height: 1px;
  background: #e0e0e0;
  margin: 4px 12px;
}

.attribute-item.frozen-hover,
.recent-attribute.frozen-hover {
  background: var(--chotto-item-background-color-hover);
}

.sub-menu {
  position: absolute;
  top: 0;
  right: 100%;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.08);
  padding: 8px 0;
  min-width: 250px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
}

.sub-menu-header {
  padding: 8px 12px 2px;
  font-size: var(--chotto-text-font-size);
  color: var(--chotto-secondary-text-color);
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 4px;
}

.sub-menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  cursor: pointer;
  transition: background 0.2s ease;
  border-radius: 4px;
  gap: 12px;
}

.sub-menu-item:hover {
  background: var(--chotto-item-background-color-hover);
}

.sub-menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-left: auto;
}

.sub-menu-title {
  font-size: var(--chotto-text-font-size);
  color: var(--chotto-primary-text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.attributes-menu :deep(.tooltip-wrapper) {
  display: block;
  width: 100%;
}
