.sidebar {
  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--chotto-sidebar-padding-container);
    background-color: transparent;
    position: relative;
    overflow: hidden;
  }

  &__scroll-container {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 60px;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__list-fixed {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: var(--chotto-layout-extended-first-col-bg);
    padding: var(--chotto-sidebar-list-fixed-padding, 12px 10px 22px);
    margin-bottom: 15px;
    border-top: var(--chotto-sidebar-list-fixed-border-top, none);
    display: flex;
    flex-direction: column;
    row-gap: var(--chotto-sidebar-row-gap-list);

    &::after {
      content: '';
      position: absolute;
      bottom: 7px;
      left: 50%;
      transform: translateX(-50%);
      width: 40px;
      height: var(--chotto-sidebar-list-fixed-border-bottom-width, 1px);
      background-color: var(--chotto-sidebar-list-fixed-border-bottom-color, #ccc);
      display: var(--chotto-sidebar-list-fixed-border-bottom-display, block);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: var(--chotto-sidebar-row-gap-list);
    padding: 0;
    background-color: var(--chotto-layout-extended-first-col-bg);
    z-index: 2;
  }

  &__item {
    max-height: var(--chotto-avatar-small);
  }

  &__item,
  &__item-fixed {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    align-items: center;
    background-color: transparent;
    border-radius: 0;

    &::before {
      content: '';
      position: absolute;
      width: calc(var(--chotto-avatar-small) + 15px);
      height: var(--chotto-avatar-small);
      border-radius: var(--chotto-sidebar-hover-radius, 10px);
      background-color: transparent;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 0;
      transition: background-color 0.2s ease;
      pointer-events: none;
    }

    &:hover::before {
      background-color: var(--neutral-125);
    }

    span {
      position: absolute;
      top: 2px;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      max-width: 29px;
      min-width: 16px;
      height: var(--chotto-sidebar-notification-count-height, 18px);
      border-radius: 10px;
      line-height: 16px;
      font-size: var(--chotto-small-text-font-size);
      font-weight: var(--chotto-small-text-font-weight, 400);
      color: var(--chotto-unread-text-color);
      background-color: var(--chotto-unread-background-color);
      z-index: 2;
    }

    p {
      font-size: var(--chotto-small-text-font-size);
      text-align: center;
      line-height: 1;
      color: var(--chotto-header-font-color, #5F5F5F);
    }
  }

  &__image {
    position: relative;
    z-index: 1;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.2s;
    opacity: 0.8;
    width: var(--chotto-avatar-small);
    height: var(--chotto-avatar-small);
  }

  &__image--active {
    opacity: 1;
  }

  &__settings-container {
    background-color: var(--chotto-layout-extended-first-col-bg);
    position: absolute;
    bottom: 7px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 2;
  }

  &__settings-btn {
    background: none;
    border: none;
    padding: 12px;
    margin: 0;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.2s;
    
    &:hover {
      background-color: var(--neutral-125);
    }
  }
}

.sidebar__selected-bar {
  position: absolute;
  width: 2px;
  height: 40px;
  left: 3px;
  top: 0;
  border-radius: 2px;
  background-color: #007CFF;
  z-index: 4;
  transition: top 0.16s ease, height 0.16s ease;
}

.sidebar-horizontal {
  &__container {
    flex-direction: row;
    height: fit-content;
    padding-top: 0;
    padding-bottom: 5px;
    background-color: transparent;
  }

  &__list,
  &__list-fixed {
    flex-direction: row;
  }

  &__list {
    gap: var(--chotto-sidebar-row-gap-list);
  }

  &__list-fixed {
    position: static;
    padding-left: 10px;
    border-left: var(--chotto-sidebar-list-fixed-border-top);
    padding-top: 0;
    border-top: 0;
    margin-right: 10px;
    margin-bottom: 0;
    flex-shrink: 0;
  }

  &__item,
  &__item-fixed {
    display: block;
    max-width: 70px;
    text-align: center;

    span {
      width: 24px;
      height: 24px;
      left: 45px;
    }

    p {
      font-size: 14px;
    }
  }

  &__image {
    width: calc(var(--chotto-avatar-small) * 1.2);
    height: calc(var(--chotto-avatar-small) * 1.2);
  }
}
