:global([data-theme="dark"]) {
  --chotto-message-accent-line-color: var(--dark-primary-500);
  --chotto-message-left-secondary-bg: var(--dark-surface-200);
  --chotto-message-right-secondary-bg: var(--dark-surface-200);
  --chotto-item-border-color: var(--dark-border-300);
}
