:global([data-theme="light"]) {
  --chotto-message-accent-line-color: #007CFF;
  --chotto-message-left-secondary-bg: #F6F6F6;
  --chotto-message-right-secondary-bg: #F6F6F6;
  --chotto-item-border-color: #E0E0E0;
}
