:global([data-theme="mobilon1"]) {
  --chotto-message-accent-line-color: var(--azure-600);
  --chotto-message-left-secondary-bg: var(--neutral-100);
  --chotto-message-right-secondary-bg: var(--neutral-100);
  --chotto-item-border-color: var(--neutral-200);
}
