.keyboard{
  &__container{
    display: flex;
    gap: var(--chotto-messagekeyboard-gap, 5px);
    justify-content: right;
    flex-wrap: wrap;
    &--left {
    justify-content: flex-start;
    margin-left: 0;
    margin-right: auto;
  }
  
  &--center {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  &--right {
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
  }
}
  &__key{
    background: var(--chotto-theme-secondary-color);
    border: 1px solid var(--chotto-theme-item-border-color);
    border-radius: var(--chotto-messagekeyboard-key-border-radius, 3px);
    word-wrap: break-word;
    box-shadow: var(--chotto-messagekeyboard-key-box-shadow, 0px 0px 10px 5px var(--chotto-theme-shadow-light-color));
    max-width: 100%;
    p{
      font-size: var(--chotto-theme-title-font-size);
      padding: var(--chotto-messagekeyboard-key-padding, 5px);
      margin: 0;
    }
    p:hover{
      cursor: pointer;
    }
  }
}
