:global([data-theme="green"]) {
  // ReplyTextMessage container variables
  --chotto-replytextmessage-container-display: flex;
  --chotto-replytextmessage-container-flex-direction: column;
  --chotto-replytextmessage-container-gap: 8px;

  // ReplyTextMessage text variables
  --chotto-replytextmessage-text-font-size: var(--chotto-text-font-size);
  --chotto-replytextmessage-text-color: var(--chotto-primary-text-color);

  // ReplyTextMessage p variables
  --chotto-replytextmessage-p-margin: 0;
  --chotto-replytextmessage-p-font-size: var(--chotto-additional-text-font-size);
  --chotto-replytextmessage-p-color: var(--chotto-secondary-text-color);
  --chotto-replytextmessage-p-white-space: pre-wrap;
  --chotto-replytextmessage-p-overflow: hidden;
  --chotto-replytextmessage-p-text-overflow: ellipsis;
  --chotto-replytextmessage-p-display: -webkit-box;
  --chotto-replytextmessage-p-webkit-line-clamp: 5;
  --chotto-replytextmessage-p-line-clamp: 5;
  --chotto-replytextmessage-p-webkit-box-orient: vertical;
}
