p {
  margin: var(--chotto-replyaudiomessage-p-margin, 0);
  font-size: var(--chotto-replyaudiomessage-p-font-size);
  color: var(--chotto-replyaudiomessage-p-color);
  overflow: var(--chotto-replyaudiomessage-p-overflow, hidden);
  text-overflow: var(--chotto-replyaudiomessage-p-text-overflow, ellipsis);
  display: var(--chotto-replyaudiomessage-p-display, -webkit-box);
  -webkit-line-clamp: var(--chotto-replyaudiomessage-p-webkit-line-clamp, 5);
  line-clamp: var(--chotto-replyaudiomessage-p-line-clamp, 5);
  -webkit-box-orient: var(--chotto-replyaudiomessage-p-webkit-box-orient, vertical);
}

.audio-message {

  &__play {
    border: var(--chotto-replyaudiomessage-play-border, none);
    position: var(--chotto-replyaudiomessage-play-position, relative);
    align-self: var(--chotto-replyaudiomessage-play-align-self, center);
    width: var(--chotto-replyaudiomessage-play-width, 38px);
    height: var(--chotto-replyaudiomessage-play-height, 38px);
    border-radius: var(--chotto-replyaudiomessage-play-border-radius, 50%);
    background-color: var(--chotto-replyaudiomessage-play-background-color);

    span {
      display: var(--chotto-replyaudiomessage-play-span-display, flex);
      position: var(--chotto-replyaudiomessage-play-span-position, absolute);
      top: var(--chotto-replyaudiomessage-play-span-top, 50%);
      left: var(--chotto-replyaudiomessage-play-span-left, 50%);
      transform: var(--chotto-replyaudiomessage-play-span-transform, translate(-50%, -50%));
      font-size: var(--chotto-replyaudiomessage-play-span-font-size);
      color: var(--chotto-replyaudiomessage-play-span-color);
    }
  }

  &__text-container {
    align-content: var(--chotto-replyaudiomessage-text-container-align-content, center);
    word-break: var(--chotto-replyaudiomessage-text-container-word-break, break-word);
  }

  &__text{
    margin-top: var(--chotto-replyaudiomessage-text-margin-top, 8px);
    font-size: var(--chotto-replyaudiomessage-text-font-size);
    color: var(--chotto-replyaudiomessage-text-color);
  }

  &__reply-description {
    display: var(--chotto-replyaudiomessage-reply-description-display, flex);
    align-items: var(--chotto-replyaudiomessage-reply-description-align-items, center);
    column-gap: var(--chotto-replyaudiomessage-reply-description-column-gap, 6px);
    margin-bottom: var(--chotto-replyaudiomessage-reply-description-margin-bottom, 4px);

    span {
      color: var(--chotto-replyaudiomessage-reply-description-span-color);
    }
  }
}
