:global([data-theme="dark"]) {
  // SystemMessage container variables
  --chotto-systemmessage-container-width: 54%;
  --chotto-systemmessage-container-border-radius: var(--chotto-theme-message-border-radius, 10px);
  --chotto-systemmessage-container-padding: 10px;
  --chotto-systemmessage-container-margin: 0 auto 18px auto;
  --chotto-systemmessage-container-background-color: #5c4c2e;

  // SystemMessage text variables
  --chotto-systemmessage-text-font-size: var(--chotto-theme-text-font-size);
  --chotto-systemmessage-text-line-height: 1.5;
  --chotto-systemmessage-text-text-align: center;
  --chotto-systemmessage-text-color: var(--chotto-theme-secondary-text-color);
}
