.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;  
    align-items: center;
    z-index:1000;
}

.modal {
    background: #fff;
    box-shadow: 2px 2px 10px 1px;
    min-width: 300px;
    min-height: 300px;
    overflow-x: auto;
    display: flex; 
    flex-direction: column;
}

.buttons {
  display: block;
  margin: 10px 10px 10px 10px;
}

.modal-body {
    position: relative;
    padding: 20px 10px;
    flex-grow: 1;
}


.modal-fade-enter,
.modal-fade-leave-to {
    opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
    transition: opacity 0.5s ease;
}
