[data-theme="dark"] {
  --chotto-chatinput-container-bg: #171717;
  --chotto-chatinput-icon-color: #d4d4d4;
  --chotto-chatinput-icon-color-disabled: #404040;
  --chotto-chatinput-button-padding: 1px 0 0 3px;
  --chotto-chatinput-button-margin: 0 9px 2px 4px;
  --chotto-chatinput-container-border-top: var(--chotto-input-border);
  --chotto-chatinput-input-line-height: 1.4;
  --chotto-chatinput-input-min-height: 40px;
  --chotto-chatinput-input-max-rows: 10;
  --chotto-chatinput-scrollbar-width: 6px;
  --chotto-chatinput-scrollbar-thumb-radius: 10px;
  --chotto-chatinput-scrollbar-track-radius: 10px;
  --chotto-chatinput-button-margin-bottom: 4px;
  --chotto-chatinput-enter-duration: 0.2s;
  --chotto-chatinput-leave-duration: 0.2s;
  --chotto-chatinput-enter-translate-y: 20px;
  --chotto-chatinput-container-padding: 12px 0 8px 15px;
  --chotto-chatinput-container-grid-gap: 0;
  --chotto-chatinput-input-border: 1px solid #d0d0d0;
  --chotto-chatinput-input-padding: 0.5rem 0.60rem;
  --chotto-chatinput-input-font-size: 16px;
  --chotto-chatinput-input-border-radius: 2px;
  --chotto-chatinput-button-height: 30px;
  --chotto-chatinput-inline-buttons-margin: 0 5px 4px 2px;
  --chotto-chatinput-inline-buttons-gap: 7px;
  --chotto-chatinput-inline-buttons-height: 30px;
  --chotto-chatinput-container-position: relative;
  --chotto-chatinput-container-display: grid;
  --chotto-chatinput-container-align-items: center;
  --chotto-chatinput-container-grid-template-columns: min-content auto min-content;
  --chotto-chatinput-container-grid-template-rows: auto auto auto auto;
  --chotto-chatinput-reply-line-grid-column: 2;
  --chotto-chatinput-reply-line-grid-row: 1;
  --chotto-chatinput-reply-line-display: none;
  --chotto-chatinput-file-line-grid-column: 2;
  --chotto-chatinput-file-line-grid-row: 2;
  --chotto-chatinput-file-line-display: none;
  --chotto-chatinput-third-line-display: flex;
  --chotto-chatinput-third-line-grid-row: 4;
  --chotto-chatinput-third-line-grid-column-start: 1;
  --chotto-chatinput-third-line-grid-column-end: 3;
  --chotto-chatinput-input-grid-row: 3;
  --chotto-chatinput-input-grid-column: 2;
  --chotto-chatinput-input-background-color: transparent;
  --chotto-chatinput-input-overflow-y: hidden;
  --chotto-chatinput-input-resize: none;
  --chotto-chatinput-input-white-space: pre-wrap;
  --chotto-chatinput-input-focus-outline: none;
  --chotto-chatinput-disabled-placeholder-text-align: center;
  --chotto-chatinput-disabled-placeholder-user-select: none;
  --chotto-chatinput-button-grid-row: 3;
  --chotto-chatinput-button-grid-column: 3;
  --chotto-chatinput-button-background-color: transparent;
  --chotto-chatinput-button-border: 0px;
  --chotto-chatinput-button-height-fit: fit-content;
  --chotto-chatinput-button-width-fit: fit-content;
  --chotto-chatinput-button-display: flex;
  --chotto-chatinput-button-align-self: end;
  --chotto-chatinput-button-span-display: block;
  --chotto-chatinput-button-span-cursor: pointer;
  --chotto-chatinput-button-disabled-cursor: auto;
  --chotto-chatinput-inline-buttons-display: flex;
  --chotto-chatinput-inline-buttons-margin-auto: auto 0;
  --chotto-chatinput-inline-buttons-grid-row: 3;
  --chotto-chatinput-inline-buttons-grid-column: 1;
  --chotto-chatinput-inline-buttons-align-self: flex-end;
  --chotto-chatinput-enter-transition: all var(--chotto-chatinput-enter-duration, 0.2s) ease-out;
  --chotto-chatinput-leave-transition: all var(--chotto-chatinput-leave-duration, 0.2s) cubic-bezier(1, 0.5, 0.8, 1);
  --chotto-chatinput-enter-transform: translateY(var(--chotto-chatinput-enter-translate-y, 20px));
  --chotto-chatinput-enter-opacity: 0;
  --chotto-chatinput-input-text-color: var(--chotto-theme-primary-text-color);
  --chotto-chatinput-secondary-text-color: var(--chotto-theme-secondary-text-color);
  --chotto-chatinput-disabled-placeholder-text-color: var(--chotto-theme-secondary-text-color);
  --chotto-chatinput-font-family: var(--chotto-theme-font-family);
  --chotto-chatinput-scrollbar-bg: var(--chotto-theme-scrollbar-bg);
  --chotto-chatinput-scrollbar-thumb-bg: var(--chotto-theme-scrollbar-thumb-bg);
  --chotto-chatinput-button-icon-size: var(--chotto-theme-button-icon-size);
}


