[data-theme="green"] {
  --chotto-chatinput-container-bg: var(--default-white);
  --chotto-chatinput-icon-color: var(--neutral-600);
  --chotto-chatinput-icon-color-disabled: var(--neutral-200);
  --chotto-chatinput-button-padding: 8px;
  --chotto-chatinput-container-border-top: var(--chotto-input-border);
  --chotto-chatinput-input-line-height: 1.4;
  --chotto-chatinput-input-min-height: 40px;
  --chotto-chatinput-input-max-rows: 10;
  --chotto-chatinput-scrollbar-width: 6px;
  --chotto-chatinput-scrollbar-thumb-radius: 10px;
  --chotto-chatinput-scrollbar-track-radius: 10px;
  --chotto-chatinput-button-margin-bottom: 4px;
  --chotto-chatinput-enter-duration: 0.2s;
  --chotto-chatinput-leave-duration: 0.2s;
  --chotto-chatinput-enter-translate-y: 20px;
}


