:global([data-theme="green"]) {
  --chotto-context-menu-border-radius: 8px;
  --chotto-context-menu-font-size: var(--chotto-title-font-size);
  --chotto-context-menu-items-row-gap: 6px;
  --chotto-context-menu-border-color: var(--chotto-item-border-color);
}
