@use './themes/default.scss';
@use './themes/dark.scss';
@use './themes/green.scss';
@use './themes/mobilon1.scss';

.tooltip__text {
  max-width: 372px;
  color: var(--neutral-850);
  text-align: left;
  padding: 5px 9px 5px 12px;
  border-radius: 5px;
  background: var(--default-white);
  top: 0;
  left: 0;
  position: absolute;
  z-index: 99999;
  font-family: var(--chotto-container-font-family);
  font-weight: var(--chotto-container-font-weight);
  border: 1px solid var(--neutral-550);
  font-size: 14px;
}

.tooltip-wrapper {
  position: relative;
  width: fit-content;
}

// .tooltip__text::after {
//   content: " ";
//   position: absolute;
//   border-width: 5px;
//   border-style: solid;
//   border-color: var(--chotto-tooltip-bg-color) transparent transparent transparent;
// }

// .tooltip--left::after {
//   inset-block-start: 50%;
//   inset-inline-start: 100%;
//   border-color: transparent transparent transparent var(--chotto-tooltip-bg-color);
// }

// .tooltip--right::after {
//   inset-block-start: 50%;
//   inset-inline-end: 100%;
//   border-color: transparent var(--chotto-tooltip-bg-color) transparent transparent;
// }

// .tooltip--top::after {
//   inset-block-start: 100%;
//   inset-inline-start: 50%;
//   border-color: var(--chotto-tooltip-bg-color) transparent transparent  transparent;
// }

// .tooltip--bottom::after {
//   inset-block-end: 100%;
//   inset-inline-start: 50%;
//   border-color: transparent transparent var(--chotto-tooltip-bg-color) transparent;
// }

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
