:global([data-theme="dark"]) {
  --chotto-audiomessage-pbc-background-color: var(--dark-surface-200);
  --chotto-audiomessage-pb-background-color: var(--dark-primary-500);
  --chotto-audiomessage-transcript-delimiter-color: var(--dark-border-300);

  // AudioMessage content variables
  --chotto-audiomessage-content-position: relative;
  --chotto-audiomessage-content-display: grid;
  --chotto-audiomessage-content-grid-template-columns: min-content 1fr;
  --chotto-audiomessage-content-column-gap: 12px;
  --chotto-audiomessage-content-width: 50%;
  --chotto-audiomessage-content-max-width: 25rem;
  --chotto-audiomessage-content-min-width: 25rem;
  --chotto-audiomessage-content-padding: 10px 10px 4px 16px;

  // Left arrow variables
  --chotto-audiomessage-left-arrow-content: '';
  --chotto-audiomessage-left-arrow-position: absolute;
  --chotto-audiomessage-left-arrow-top: 0;
  --chotto-audiomessage-left-arrow-left: -8px;
  --chotto-audiomessage-left-arrow-width: 0;
  --chotto-audiomessage-left-arrow-height: 0;
  --chotto-audiomessage-left-arrow-border: 20px solid transparent;
  --chotto-audiomessage-left-arrow-border-top: 15px solid var(--chotto-message-left-bg);
  --chotto-audiomessage-left-arrow-z-index: 1;

  // Right arrow variables
  --chotto-audiomessage-right-arrow-content: '';
  --chotto-audiomessage-right-arrow-position: absolute;
  --chotto-audiomessage-right-arrow-top: 0;
  --chotto-audiomessage-right-arrow-right: -8px;
  --chotto-audiomessage-right-arrow-width: 0;
  --chotto-audiomessage-right-arrow-height: 0;
  --chotto-audiomessage-right-arrow-border: 20px solid transparent;
  --chotto-audiomessage-right-arrow-border-top: 15px solid var(--chotto-message-right-bg);
  --chotto-audiomessage-right-arrow-z-index: 1;

  // Audio container variables
  --chotto-audiomessage-audio-container-position: relative;
  --chotto-audiomessage-audio-container-display: grid;
  --chotto-audiomessage-audio-container-grid-template-columns: min-content 1fr;
  --chotto-audiomessage-audio-container-column-gap: 12px;
  --chotto-audiomessage-audio-container-max-width: 25rem;
  --chotto-audiomessage-audio-container-border-radius: 14px;
  --chotto-audiomessage-audio-container-padding: 10px 30px 10px 0px;
  --chotto-audiomessage-audio-container-grid-column: 1/3;

  // Play/Pause button variables
  --chotto-audiomessage-play-pause-border: none;
  --chotto-audiomessage-play-pause-cursor: pointer;
  --chotto-audiomessage-play-pause-position: relative;
  --chotto-audiomessage-play-pause-grid-row: 1 / 3;
  --chotto-audiomessage-play-pause-width: 38px;
  --chotto-audiomessage-play-pause-height: 38px;
  --chotto-audiomessage-play-pause-border-radius: 50%;

  // Play/Pause button span variables
  --chotto-audiomessage-play-pause-span-display: flex;
  --chotto-audiomessage-play-pause-span-position: absolute;
  --chotto-audiomessage-play-pause-span-top: 50%;
  --chotto-audiomessage-play-pause-span-left: 50%;
  --chotto-audiomessage-play-pause-span-transform: translate(-50%, -50%);

  // Progress bar variables
  --chotto-audiomessage-progress-bar-webkit-appearance: none;
  --chotto-audiomessage-progress-bar-appearance: none;
  --chotto-audiomessage-progress-bar-cursor: pointer;
  --chotto-audiomessage-progress-bar-height: 10px;
  --chotto-audiomessage-progress-bar-overflow: hidden;
  --chotto-audiomessage-progress-bar-border-radius: 3px;
  --chotto-audiomessage-progress-bar-margin-top: 5px;
  --chotto-audiomessage-progress-bar-margin-left: -1px;

  // Progress bar thumb variables
  --chotto-audiomessage-progress-bar-thumb-width: 10px;
  --chotto-audiomessage-progress-bar-thumb-height: 10px;
  --chotto-audiomessage-progress-bar-thumb-appearance: none;
  --chotto-audiomessage-progress-bar-thumb-border: 0;
  --chotto-audiomessage-progress-bar-thumb-border-radius: 0;
  --chotto-audiomessage-progress-bar-thumb-box-shadow: -10000px 0 0 10000px var(--chotto-audio-message-pb-background-color);

  // Player controls variables
  --chotto-audiomessage-player-controls-display: flex;
  --chotto-audiomessage-player-controls-justify-content: space-between;

  // Speed button container variables
  --chotto-audiomessage-speed-btn-container-display: flex;
  --chotto-audiomessage-speed-btn-container-gap: 2px;
  --chotto-audiomessage-speed-btn-container-margin-right: 5px;

  // Speed button variables
  --chotto-audiomessage-speed-btn-background-color: transparent;
  --chotto-audiomessage-speed-btn-border: 0;
  --chotto-audiomessage-speed-btn-width: 25px;
  --chotto-audiomessage-speed-btn-font-weight: 400;
  --chotto-audiomessage-speed-btn-hover-cursor: pointer;
  --chotto-audiomessage-speed-btn-hover-font-weight: 600;
  --chotto-audiomessage-speed-btn-selected-font-weight: 600;

  // Remaining time variables
  --chotto-audiomessage-remaining-time-grid-column: 2;
  --chotto-audiomessage-remaining-time-margin-bottom: -10px;
  --chotto-audiomessage-remaining-time-height: fit-content;

  // Avatar variables
  --chotto-audiomessage-avatar-align-self: center;
  --chotto-audiomessage-avatar-object-fit: cover;

  // Info container variables
  --chotto-audiomessage-info-container-grid-column: 1 / 3;
  --chotto-audiomessage-info-container-margin-left: auto;
  --chotto-audiomessage-info-container-display: flex;
  --chotto-audiomessage-info-container-align-items: center;
  --chotto-audiomessage-info-container-column-gap: 4px;

  // Download button variables
  --chotto-audiomessage-download-button-position: absolute;
  --chotto-audiomessage-download-button-right: 3px;
  --chotto-audiomessage-download-button-top: 16px;
  --chotto-audiomessage-download-button-display: flex;
  --chotto-audiomessage-download-button-justify-content: center;
  --chotto-audiomessage-download-button-align-items: center;
  --chotto-audiomessage-download-button-border: none;
  --chotto-audiomessage-download-button-border-radius: 12px;
  --chotto-audiomessage-download-button-background-color: transparent;
  --chotto-audiomessage-download-button-padding: 0;
  --chotto-audiomessage-download-button-cursor: pointer;

  // Status variables
  --chotto-audiomessage-status-display: flex;

  // Views variables
  --chotto-audiomessage-views-display: flex;
  --chotto-audiomessage-views-align-items: center;
  --chotto-audiomessage-views-column-gap: 4px;

  // Menu button variables
  --chotto-audiomessage-menu-button-position: absolute;
  --chotto-audiomessage-menu-button-background-color: transparent;
  --chotto-audiomessage-menu-button-border: none;
  --chotto-audiomessage-menu-button-transform: translateY(-50%);
  --chotto-audiomessage-menu-button-cursor: pointer;
  --chotto-audiomessage-menu-button-transition: 0.2s;

  // Context menu variables
  --chotto-audiomessage-context-menu-position: absolute;

  // Text container variables
  --chotto-audiomessage-text-container-grid-column: 1 / 3;
  --chotto-audiomessage-text-container-word-wrap: break-word;
  --chotto-audiomessage-text-container-max-width: 25rem;

  // Link preview variables
  --chotto-audiomessage-link-preview-grid-column: 1 / 3;

  // Transcript container variables
  --chotto-audiomessage-transcript-container-position: relative;
  --chotto-audiomessage-transcript-container-padding-left: 16px;
  --chotto-audiomessage-transcript-container-margin-bottom: 16px;
  --chotto-audiomessage-transcript-container-cursor: pointer;
  --chotto-audiomessage-transcript-container-user-select: none;

  // Transcript delimiter variables
  --chotto-audiomessage-transcript-delimiter-content: "";
  --chotto-audiomessage-transcript-delimiter-position: absolute;
  --chotto-audiomessage-transcript-delimiter-top: 50%;
  --chotto-audiomessage-transcript-delimiter-left: 0;
  --chotto-audiomessage-transcript-delimiter-transform: translateY(-50%);
  --chotto-audiomessage-transcript-delimiter-width: 2px;
  --chotto-audiomessage-transcript-delimiter-height: 84%;
  --chotto-audiomessage-transcript-delimiter-border-radius: 6px;

  // Left/Right layout variables
  --chotto-audiomessage-left-right-display: grid;

  // Left layout variables
  --chotto-audiomessage-left-grid-template-columns: min-content 1fr;
  --chotto-audiomessage-left-avatar-grid-column: 1;
  --chotto-audiomessage-left-avatar-grid-row: 2;
  --chotto-audiomessage-left-avatar-margin-right: 12px;
  --chotto-audiomessage-left-subtext-grid-column: 2;
  --chotto-audiomessage-left-subtext-grid-row: 1;
  --chotto-audiomessage-left-subtext-margin: 0 0 2px 10px;
  --chotto-audiomessage-left-content-grid-column: 2;
  --chotto-audiomessage-left-content-avatar-indent-margin-left: calc(var(--chotto-avatar-small) + 12px);
  --chotto-audiomessage-left-menu-button-top: 50%;
  --chotto-audiomessage-left-menu-button-right: -40px;
  --chotto-audiomessage-left-context-menu-top: 50%;
  --chotto-audiomessage-left-context-menu-left: 100%;
  --chotto-audiomessage-left-context-menu-margin-top: 20px;

  // Right layout variables
  --chotto-audiomessage-right-grid-template-columns: 1fr min-content;
  --chotto-audiomessage-right-avatar-grid-column: 2;
  --chotto-audiomessage-right-avatar-grid-row: 2;
  --chotto-audiomessage-right-avatar-margin-left: 12px;
  --chotto-audiomessage-right-subtext-grid-column: 1;
  --chotto-audiomessage-right-subtext-grid-row: 1;
  --chotto-audiomessage-right-subtext-margin: 0 10px 2px auto;
  --chotto-audiomessage-right-content-grid-column: 1;
  --chotto-audiomessage-right-content-margin-left: auto;
  --chotto-audiomessage-right-content-avatar-indent-margin-right: calc(var(--chotto-avatar-small) + 12px);
  --chotto-audiomessage-right-menu-button-top: 50%;
  --chotto-audiomessage-right-menu-button-left: -40px;
  --chotto-audiomessage-right-context-menu-top: 50%;
  --chotto-audiomessage-right-context-menu-right: 100%;
  --chotto-audiomessage-right-context-menu-margin-top: 20px;

  // Modal variables
  --chotto-audiomessage-modal-position: absolute;
  --chotto-audiomessage-modal-top: 50%;
  --chotto-audiomessage-modal-left: 50%;
  --chotto-audiomessage-modal-transform: translate(-50%, -50%);
  --chotto-audiomessage-modal-z-index: 101;
  --chotto-audiomessage-modal-max-width: 30%;

  // Modal overlay variables
  --chotto-audiomessage-modal-overlay-position: fixed;
  --chotto-audiomessage-modal-overlay-top: 0;
  --chotto-audiomessage-modal-overlay-left: 0;
  --chotto-audiomessage-modal-overlay-right: 0;
  --chotto-audiomessage-modal-overlay-bottom: 0;
  --chotto-audiomessage-modal-overlay-z-index: 1000;

  // Modal close button variables
  --chotto-audiomessage-modal-close-button-display: block;
  --chotto-audiomessage-modal-close-button-background-color: transparent;
  --chotto-audiomessage-modal-close-button-border: none;
  --chotto-audiomessage-modal-close-button-padding: 4px;
  --chotto-audiomessage-modal-close-button-margin: 0 0 14px auto;
  --chotto-audiomessage-modal-close-button-cursor: pointer;

  // Animation variables
  --chotto-audiomessage-v-enter-active-transition: all 0.1s ease-out;
  --chotto-audiomessage-v-leave-active-transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
  --chotto-audiomessage-v-enter-leave-transform: scale(0.9);
  --chotto-audiomessage-v-enter-leave-opacity: 0;
  --chotto-audiomessage-modal-fade-transition: opacity 0.2s ease;
  --chotto-audiomessage-modal-fade-opacity: 0;
}
