:global([data-theme="dark"]) {
  --chotto-audio-message-pbc-background-color: var(--dark-surface-200);
  --chotto-audio-message-pb-background-color: var(--dark-primary-500);
  --chotto-audio-message-transcript-delimiter-color: var(--dark-border-300);
}
