:global([data-theme="light"]) {
  --chotto-audio-message-pbc-background-color: #E5E5E5;
  --chotto-audio-message-pb-background-color: #007CFF;
  --chotto-audio-message-transcript-delimiter-color: #CCCCCC;
}
