:global([data-theme="green"]) {
  --chotto-audio-message-pbc-background-color: #E8F5E8;
  --chotto-audio-message-pb-background-color: #4CAF50;
  --chotto-audio-message-transcript-delimiter-color: #C8E6C9;
}
