:global([data-theme="mobilon1"]) {
  --chotto-audio-message-pbc-background-color: var(--neutral-200);
  --chotto-audio-message-pb-background-color: var(--azure-600);
  --chotto-audio-message-transcript-delimiter-color: var(--neutral-300);
}
