:global([data-theme="light"]) {
  // SelectUser2 participant list variables
  --chotto-selectuser2-participant-list-margin-top: 10px;
  --chotto-selectuser2-participant-list-max-height: 200px;
  --chotto-selectuser2-participant-list-overflow: auto;

  // SelectUser2 participant item variables
  --chotto-selectuser2-participant-item-display: flex;
  --chotto-selectuser2-participant-item-align-items: center;
  --chotto-selectuser2-participant-item-margin-bottom: 10px;
  --chotto-selectuser2-participant-item-checkbox-margin-right: 10px;
}
