.chat-filter {
  &__container{
    position: var(--chotto-chatfilter-container-position, relative);
  }

  &__icon{
    position: var(--chotto-chatfilter-icon-position, absolute);
    left: var(--chotto-chatfilter-icon-left, 14px);
    top: var(--chotto-chatfilter-icon-top, 25%);
    color: var(--chotto-chatfilter-icon-color);
  }

  &__input {
    width: var(--chotto-chatfilter-input-width, 100%);
    background-color: var(--chotto-chatfilter-input-background-color);
    color: var(--chotto-chatfilter-input-color);
    padding: var(--chotto-chatfilter-input-padding);
    padding-left: var(--chotto-chatfilter-input-padding-left, 40px);
    border: var(--chotto-chatfilter-input-border);
    border-radius: var(--chotto-chatfilter-input-border-radius);
    font-size: var(--chotto-chatfilter-input-font-size);
    transition: var(--chotto-chatfilter-input-transition);
    background-color: var(--chotto-chatfilter-input-background);

    &::placeholder {
      color: var(--chotto-chatfilter-input-placeholder-color);
    }

    &:hover {
      border-color: var(--chotto-chatfilter-input-hover-border-color);
    }

    &:focus-visible {
      border-color: var(--chotto-chatfilter-input-focus-border-color);
      outline: var(--chotto-chatfilter-input-focus-outline, none);
    }
  }
}
