@use './themes/default.scss';
@use './themes/dark.scss';
@use './themes/green.scss';
@use './themes/mobilon1.scss';

.chat-filter {
  &__container{
    position: relative;
  }

  &__icon{
    position: absolute;
    left: 14px;
    top: 25%;
    color: var(--chotto-secondary-text-color);
  }

  &__input {
    width: 100%;
    background-color: transparent;
    color: var(--chotto-primary-text-color);
    padding: var(--chotto-input-padding);
    padding-left: 40px;
    border: var(--chotto-input-border);
    border-radius: var(--chotto-input-border-radius);
    font-size: var(--chotto-input-font-size);
    transition: border-color var(--chotto-input-transition-duration);
    background-color: var(--chotto-input-background);

    &::placeholder {
      color: var(--chotto-secondary-text-color);
    }

    &:hover {
      border-color: var(--chotto-input-hover-border-color);
    }

    &:focus-visible {
      border-color: var(--chotto-input-focus-border-color);
      outline: none;
    }
  }
}
