.video-message {
  &__content {
    position: relative;
    max-width: 40%;
    border-radius: 14px;
  }

  &__info-container {
    position: absolute;
    bottom: 4px;
    right: 8px;
    display: flex;
    align-items: center;
    column-gap: 4px;
    border-radius: 12px;
    padding: 6px 10px;
    background-color: var(--chotto-message-popup-info-bg-color);
    color: var(--chotto-message-popup-info-color);
  }

  &__download-button {
    position: absolute;
    left: 8px;
    bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 12px;
    padding: 6px 6px;
    background-color: var(--chotto-message-popup-info-bg-color);
    cursor: pointer;

    span {
      color: var(--chotto-message-popup-info-color);
      font-size: var(--chotto-small-text-icon-size);
    }
  }

  &__views {
    display: flex;
    align-items: center;
    column-gap: 4px;

    span {
      font-size: var(--chotto-small-text-icon-size);
    }

    p {
      font-size: var(--chotto-small-text-font-size);
    }
  }

  &__time {
    font-size: var(--chotto-small-text-font-size);
  }

  &__status {
    display: flex;

    span {
      font-size: var(--chotto-small-text-icon-size);
    }
  }

  .status--received {
    span {

      &:first-child {
        margin-right: -8px;
      }
    }
  }

  .status--read {
    span {
      color: var(--chotto-status-color-read);

      &:first-child {
        margin-right: -8px;
      }
    }
  }

  &__avatar {
    grid-row: 1 / -1;
    align-self: end;
    margin-bottom: 6px;
    object-fit: cover;
    min-width: var(--chotto-avatar-small);
    min-height: var(--chotto-avatar-small);
    border-radius: var(--chotto-avatar-border-radius);
  }

  &__video {
    object-fit: cover;
    width: 100%;
    max-height: 500px;
    cursor: zoom-in;
  }

  &__time {
    font-size: var(--chotto-small-text-font-size);
  }

  &__subtext {
    font-size: var(--chotto-additional-text-font-size);
    color: var(--chotto-secondary-text-color);
  }

  &__preview-button {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__menu-button {
    position: absolute;
    background-color: transparent;
    border: none;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.2s;

    span {
      color: var(--chotto-button-color-active);
      font-size: var(--chotto-button-icon-size);
    }

    &:hover span {
      color: var(--chotto-button-color-hover);
      transition: 0.2s;
    }
  }

  &__context-menu {
    position: absolute;
  }

  &__text-container {
    padding: 6px 10px 6px 10px;
    border-radius: 0 0 8px 8px;
    word-wrap: break-word;
    max-width: 25rem;

    p {
      white-space: pre-wrap;
      font-size: var(--chotto-text-font-size);
    }
  }

  &__link-preview {
    margin: 8px;
  }

  &__left,
  &__right {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    margin: var(--chotto-message-margin);
  }

  &__left {
    grid-template-columns: min-content 1fr;

    .video-message__avatar {
      grid-column: 1;
      margin-right: 12px;
    }

    .video-message__subtext {
      grid-column: 2;
      grid-row: 1;
      margin: 0 0 2px 10px;
    }

    .video-message__content {
      grid-column: 2;
      background-color: var(--chotto-message-left-bg);
    }

    .video-message__content.with-avatar-indent {
      margin-left: calc(var(--chotto-avatar-small) + 12px);
    }

    .video-message__text-container {
      grid-column: 2;
    }

    .video-message__menu-button {
      top: 50%;
      right: -40px;
    }

    .video-message__context-menu {
      top: 50%;
      left: 100%;
      margin-top: 20px;
    }
  }

  &__right {
    grid-template-columns: 1fr min-content;

    .video-message__avatar {
      grid-column: 2;
      margin-left: 12px;
    }

    .video-message__subtext {
      grid-column: 1;
      grid-row: 1;
      margin: 0 10px 2px auto;
    }

    .video-message__content {
      grid-column: 1;
      margin-left: auto;
      background-color: var(--chotto-message-right-bg);
    }

    .video-message__content.with-avatar-indent {
      margin-left: calc(var(--chotto-avatar-small) + 12px);
    }

    .video-message__text-container {
      grid-column: 1;
      margin-left: auto;
    }

    .video-message__menu-button {
      top: 50%;
      left: -40px;
    }

    .video-message__context-menu {
      top: 50%;
      right: 100%;
      margin-top: 20px;
    }
  }

  &__modal-video {
    /*width: 100%;*/
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
    max-height: 90vh;
    max-width: 95vw;
  }

}

.context-menu-enter-active {
  transition: all 0.1s ease-out;
}

.context-menu-leave-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}

.context-menu-enter-from,
.context-menu-leave-to {
  transform: scale(0.9);
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.2s ease;
}

.modal-fade-enter-from,
.modal-fade-leave-to {
  opacity: 0;
}

.modal-fade-enter-to,
.modal-fade-leave-from {
  opacity: 1;
}
