.system-message {
  &__container {
    width: 54%;
    border-radius: var(--chotto-message-border-radius, 10px);
    padding: 10px;
    margin: 0 auto 18px auto;
    background-color: var(--chotto-system-message-bg-color);
  }

  &__text {
    font-size: var(--chotto-text-font-size);
    line-height: 1.5;
    text-align: center;
    color: var(--chotto-secondary-text-color);
  }
}
