:global([data-theme="mobilon1"]) {
  --chotto-sidebar-padding-container: 0 8px 7px 8px;
  --chotto-sidebar-row-gap-list: 15px;
  --chotto-sidebar-image-active-border: 3px solid var(--neutral-125);
  --chotto-sidebar-list-fixed-border-bottom: 1px solid var(--neutral-300);
  --chotto-sidebar-notification-count-height: 18px;
  --chotto-sidebar-list-fixed-padding: 12px 10px 22px;
  --chotto-sidebar-hover-radius: 10px;
}


