@use './themes/default.scss';
@use './themes/dark.scss';
@use './themes/green.scss';
@use './themes/mobilon1.scss';
.commands{
  &__trigger{
    padding: var(--chotto-buttoncommandsselector-trigger-padding);
    display: var(--chotto-buttoncommandsselector-trigger-display, block);
    cursor: var(--chotto-buttoncommandsselector-trigger-cursor, pointer);
    font-size: var(--chotto-buttoncommandsselector-trigger-font-size);
    color: var(--chotto-buttoncommandsselector-trigger-color);
  }

  &__trigger:hover{
    color: var(--chotto-buttoncommandsselector-trigger-hover-color);
  }

  &__disabled {
    color: var(--chotto-buttoncommandsselector-disabled-color);
    cursor: var(--chotto-buttoncommandsselector-disabled-cursor, auto);
    pointer-events: var(--chotto-buttoncommandsselector-disabled-pointer-events, none);
  }
}


