[data-theme="green"] {

  --chotto-theme-font-family: "Open Sans", sans-serif;
  --chotto-theme-container-font-weight: 400;
  --chotto-theme-container-borders: 1px solid var(--neutral-200);

  --chotto-theme-primary-color: #ffffff;
  --chotto-theme-secondary-color: #faf6f4;

  --chotto-theme-primary-text-color: #1e1e1e;
  --chotto-theme-secondary-text-color: #5f5f5f;

  --chotto-theme-header-font-size: 20px;
  --chotto-theme-title-font-size: 16px;
  --chotto-theme-text-font-size: 14px;
  --chotto-theme-additional-text-font-size: 12px;
  --chotto-theme-small-text-font-size: 10px;

  --chotto-theme-header-font-weight: 700;
  --chotto-theme-title-font-weight: 400;

  --chotto-theme-button-icon-size: 21px;
  --chotto-theme-text-icon-size: 14px;
  --chotto-theme-small-text-icon-size: 12px;

  --chotto-theme-button-color-active: var(--neutral-600);
  --chotto-theme-button-color-hover: var(--neutral-700);
  --chotto-theme-button-color-disabled: var(--neutral-200);

  --chotto-theme-shadow-color: var(--neutral-800);
  --chotto-theme-shadow-light-color: var(--neutral-300);
  
  --chotto-theme-status-color-received: var(--neutral-500);
  --chotto-theme-status-color-read: #00c2ff;

  --chotto-theme-item-background-color-focus: var(--neutral-100);
  --chotto-theme-item-background-color-hover: var(--neutral-200);

  --chotto-theme-item-border-color: var(--neutral-200);

  --chotto-theme-unread-background-color: var(--p-red-500);
  --chotto-theme-unread-text-color: var(--neutral-50); 

  --chotto-theme-action-button-color-active: #00cbfa;
  --chotto-theme-action-button-color-hover: #3fddff;
  --chotto-theme-action-button-color-disabled: #b4e8f9;
}