[data-theme="mobilon1"] {
  // ThemeMode button variables
  --chotto-thememode-button-margin: 0 auto;

  // ThemeMode switch variables
  --chotto-thememode-switch-position: relative;
  --chotto-thememode-switch-display: inline-block;
  --chotto-thememode-switch-box-sizing: border-box;
  --chotto-thememode-switch-width: 56px;
  --chotto-thememode-switch-height: 28px;
  --chotto-thememode-switch-border: 1px solid #a3a3a3;
  --chotto-thememode-switch-border-radius: 25%/50%;
  --chotto-thememode-switch-background: #fafafa;
  --chotto-thememode-switch-transition: .15s;
  --chotto-thememode-switch-cursor: pointer;

  // ThemeMode switch span variables
  --chotto-thememode-switch-span-position: absolute;
  --chotto-thememode-switch-span-top: 0;
  --chotto-thememode-switch-span-bottom: 0;
  --chotto-thememode-switch-span-margin: auto 0;
  --chotto-thememode-switch-span-display: flex;
  --chotto-thememode-switch-span-justify-content: center;
  --chotto-thememode-switch-span-align-items: center;

  // ThemeMode switch sun variables
  --chotto-thememode-switch-sun-background-color: #a3a3a3;
  --chotto-thememode-switch-sun-color: #404040;
  --chotto-thememode-switch-sun-left: 1px;
  --chotto-thememode-switch-sun-width: 24px;
  --chotto-thememode-switch-sun-height: 24px;
  --chotto-thememode-switch-sun-border-radius: 50%;
  --chotto-thememode-switch-sun-transition: .15s;

  // ThemeMode switch moon variables
  --chotto-thememode-switch-moon-opacity: 0;
  --chotto-thememode-switch-moon-background-color: #a3a3a3;
  --chotto-thememode-switch-moon-color: #404040;
  --chotto-thememode-switch-moon-width: 24px;
  --chotto-thememode-switch-moon-height: 24px;
  --chotto-thememode-switch-moon-border-radius: 50%;
  --chotto-thememode-switch-moon-transition: .15s;

  // ThemeMode input variables
  --chotto-thememode-input-display: block;
  --chotto-thememode-input-width: 0;
  --chotto-thememode-input-height: 0;
  --chotto-thememode-input-position: absolute;
  --chotto-thememode-input-z-index: -1;
  --chotto-thememode-input-opacity: 0;

  // ThemeMode switch checked variables
  --chotto-thememode-switch-checked-background: #404040;
  --chotto-thememode-switch-checked-transition: .15s;

  // ThemeMode switch sun checked variables
  --chotto-thememode-switch-sun-checked-transform: translateX(29px);
  --chotto-thememode-switch-sun-checked-opacity: 0;
  --chotto-thememode-switch-sun-checked-transition: all .15s;

  // ThemeMode switch moon checked variables
  --chotto-thememode-switch-moon-checked-transform: translateX(29px);
  --chotto-thememode-switch-moon-checked-opacity: 1;
  --chotto-thememode-switch-moon-checked-transition: all .15s;
}
