.button-template {
  background-color: transparent;
  border: 0px;
  height: fit-content;
  span {
    display: block;
    cursor: pointer;
    padding: var(--chotto-chat-input-button-padding);
    font-size: var(--chotto-button-icon-size);
    color: var(--chotto-button-color-active);
  }
}

.button-template:hover span{
  color: var(--chotto-button-color-hover);
}

.button-template-disabled{
  pointer-events: none;
  span{
    cursor: auto;
    color: var(--chotto-button-color-disabled);
  }
}


