[data-theme="light"] {

  --chotto-theme-message-right-bg: var(--emerald-100);
  --chotto-theme-message-right-secondary-bg: var(--emerald-200);
  --chotto-theme-message-left-bg: var(--neutral-200);
  --chotto-theme-message-left-secondary-bg: var(--neutral-300);
  
  --chotto-theme-message-accent-line-color: var(--emerald-400);
  --chotto-theme-message-focused-color: #8df392;

  --chotto-theme-message-margin: 0 0 8px 0;

  --chotto-theme-message-type-icon-bg-color: var(--neutral-400);
  --chotto-theme-message-type-icon-color: var(--neutral-100);

  --chotto-theme-message-popup-info-bg-color: rgb(0 0 0 / 39%);
  --chotto-theme-message-popup-info-color: var(--default-white);

  /* Audio Message */
  --chotto-theme-audio-message-transcript-delimiter-color: var(--neutral-400);
  --chotto-theme-audio-message-pbc-background-color: var(--neutral-400);
  --chotto-theme-audio-message-pb-background-color: var(--emerald-500);

  /* Call Message */
  --chotto-theme-call-message-phone-icon-missed-color: var(--p-red-500);

  /* System Message */
  --chotto-theme-system-message-bg-color: #ffeecc;
}