[data-theme="mobilon1"] {

  --chotto-container-font-family: "Open Sans", sans-serif;
  --chotto-container-font-weight: var(--regular-font-weight);
  --chotto-container-borders: 1px solid var(--neutral-200);

  --chotto-primary-color: #ffffff;
  --chotto-secondary-color: #faf6f4;

  --chotto-primary-text-color: var(--neutral-850);
  --chotto-secondary-text-color: var(--neutral-550);

  --chotto-header-font: "Inter", sans-serif;
  --chotto-header-font-size: 20px;
  --chotto-header-font-color: var(--neutral-550);
  --chotto-title-font-size: 16px;
  --chotto-text-font-size: 14px;
  --chotto-additional-text-font-size: 14px;
  --chotto-small-text-font-size: 12px;
  --chotto-small-text-font-weight: 600;
  --chotto-context-menu-font-size: 14px;

  --chotto-header-font-weight: 700;
  --chotto-title-font-weight: 400;

  --chotto-button-icon-size: 23px;
  --chotto-text-icon-size: 14px;
  --chotto-small-text-icon-size: 12px;

  --chotto-button-color-active: var(--neutral-600);
  --chotto-button-color-hover: var(--neutral-700);
  --chotto-button-color-disabled: var(--neutral-200);

  --chotto-shadow-color: var(--neutral-800);
  --chotto-shadow-light-color: var(--neutral-300);
  
  --chotto-status-color-received: var(--neutral-850);
  --chotto-status-color-read: var(--azure-600);

  --chotto-item-background-color-focus: var(--neutral-75);
  --chotto-item-background-color-hover: var(--neutral-90);

  --chotto-item-border-color: var(--neutral-250);

  --chotto-unread-background-color: var(--p-red-550);
  --chotto-unread-text-color: var(--neutral-50); 

  --chotto-action-button-color-active: #00cbfa;
  --chotto-action-button-color-hover: #3fddff;
  --chotto-action-button-color-disabled: #b4e8f9;
/* не применяется*/
  --chotto-danger-button-color-active: '';
  --chotto-danger-button-color-hover: '';
  --chotto-danger-button-color-disabled: '';
}