:global([data-theme="light"]) {
  // ReplyCallMessage icon variables
  --chotto-replycallmessage-icon-grid-column: 1;
  --chotto-replycallmessage-icon-grid-row: 1 / 3;
  --chotto-replycallmessage-icon-align-self: center;
  --chotto-replycallmessage-icon-display: flex;
  --chotto-replycallmessage-icon-justify-content: center;
  --chotto-replycallmessage-icon-align-items: center;
  --chotto-replycallmessage-icon-border-radius: 50%;
  --chotto-replycallmessage-icon-height: 38px;
  --chotto-replycallmessage-icon-width: 38px;
  --chotto-replycallmessage-icon-background-color: var(--chotto-message-type-icon-bg-color);
  --chotto-replycallmessage-icon-color: var(--chotto-message-type-icon-color);
  --chotto-replycallmessage-icon-font-size: var(--chotto-theme-button-icon-size);

  // ReplyCallMessage text container variables
  --chotto-replycallmessage-text-container-align-content: center;
  --chotto-replycallmessage-text-container-word-break: break-word;
  --chotto-replycallmessage-text-container-p-margin: 0;
  --chotto-replycallmessage-text-container-p-font-size: var(--chotto-theme-additional-text-font-size);
  --chotto-replycallmessage-text-container-p-color: var(--chotto-theme-secondary-text-color);
  --chotto-replycallmessage-text-container-p-overflow: hidden;
  --chotto-replycallmessage-text-container-p-text-overflow: ellipsis;
  --chotto-replycallmessage-text-container-p-display: -webkit-box;
  --chotto-replycallmessage-text-container-p-webkit-line-clamp: 5;
  --chotto-replycallmessage-text-container-p-line-clamp: 5;
  --chotto-replycallmessage-text-container-p-webkit-box-orient: vertical;

  // ReplyCallMessage reply description variables
  --chotto-replycallmessage-reply-description-display: flex;
  --chotto-replycallmessage-reply-description-align-items: center;
  --chotto-replycallmessage-reply-description-column-gap: 6px;
  --chotto-replycallmessage-reply-description-margin-bottom: 4px;
  --chotto-replycallmessage-reply-description-span-color: var(--chotto-theme-secondary-text-color);
}
