/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');  */
@import url("@fontsource/open-sans");

@import url(variables.css);

@import url(components.css);
@import url(containers.css);
@import url(layouts.css);
@import url(messages.css);

[data-theme="green"] {
  --app-bg: var(--default-white);
  --app-color: var(--neutral-950);
  --app-font-family: "Open Sans", sans-serif;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#app {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  font-weight: 400;
  font-family: var(--app-font-family);
  background-color: var(--app-bg);
  color: var(--app-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p,
h1,
h2 {
  margin: 0;
}

a {
  text-decoration: none;
}
