[data-theme="green"] {

  /* General */
  --container-color: var(--neutral-950);
  --container-font-family: "Open Sans", sans-serif;

  /* Float Container */
  --float-container-border-radius: 0;
  --float-container-border-radius-header: 0;

  /* Base Container */
  --base-container-bg: var(--default-white)
}