[data-theme="green"] {
  /* Layouts */
  /* Extended layout */
  --layout-extended-column-border: 1px solid var(--neutral-200);
  --layout-extended-bg: var(--default-white);
  --layout-extended-third-col-bg: #fcfafa;

  /* Base layout */
  --layout-base-second-col-bg: #fcfafa;
  --layout-base-bg: var(--default-white);
  --layout-base-column-border: 1px solid var(--neutral-200);
  --layout-base-first-col-bg: var(--default-white);
  
  /* Feed layout */
  --layout-feed-bg: var(--default-white)
}
