[data-theme="green"] {
  /* Layouts */
  /* Extended layout */
  --chotto-layout-extended-third-col-bg: #fcfafa;
  --chotto-layout-extended-second-col-bg: var(--default-white);
  --chotto-layout-extended-first-col-bg: var(--neutral-100);

  /* Base layout */
  --chotto-layout-base-second-col-bg: #fcfafa;
  --chotto-layout-base-first-col-bg: var(--default-white);
  
  /* Feed layout */
  --chotto-layout-feed-bg: #fcfafa;
}
