[data-theme="green"] {

  /* General Message */
  --base-message-font-size-text: 14px;
  --base-message-font-size-time: 10px;
  --base-message-views-font-size: 10px;
  --base-message-views-icon-font-size: 12px;
  --base-message-font-size-remaining-time: 10px;

  --base-message-right-bg: #d9fdd3;
  --base-message-left-bg: var(--default-white);
  --base-message-subtext-color: var(--neutral-700);

  --base-message-margin: 0 0 8px 0;

  /* Reply Messages */
  --reply-message-right-bg: #d1f4cc;
  --reply-message-left-bg: var(--neutral-100);

  /* _____________________________________________ */

  /* Call Message */
  --call-message-font-size-title: 15px;

  /* Date Message */
  --date-message-bg: #fcfafa;
  --date-message-border: 1px solid #d3d6db;
}
