.extend-layout {
  &__container {
    height: var(--chotto-adaptiveextendedlayout-container-height, inherit);
    display: var(--chotto-adaptiveextendedlayout-container-display, grid);
    transition: var(--chotto-adaptiveextendedlayout-container-transition, all 0.3s ease);
    position: var(--chotto-adaptiveextendedlayout-container-position, relative);
    border-top: var(--chotto-adaptiveextendedlayout-container-border-top, var(--chotto-theme-container-borders, none));
    border-left: var(--chotto-adaptiveextendedlayout-container-border-left, var(--chotto-theme-container-borders, none));
  }

  &__first-col {
    position: var(--chotto-adaptiveextendedlayout-first-col-position, relative);
    grid-column: var(--chotto-adaptiveextendedlayout-first-col-grid-column, 1);
    display: var(--chotto-adaptiveextendedlayout-first-col-display, flex);
    flex-direction: var(--chotto-adaptiveextendedlayout-first-col-flex-direction, column);
    height: var(--chotto-adaptiveextendedlayout-first-col-height, inherit);
    border-right: var(--chotto-adaptiveextendedlayout-first-col-border-right, var(--chotto-theme-container-borders, none));
    border-bottom: var(--chotto-adaptiveextendedlayout-first-col-border-bottom, var(--chotto-theme-container-borders, none));
    background-color: var(--chotto-adaptiveextendedlayout-first-col-background-color, var(--chotto-theme-layout-extended-first-col-bg, transparent));
  }

  &__second-col {
    position: var(--chotto-adaptiveextendedlayout-second-col-position, relative);
    grid-column: var(--chotto-adaptiveextendedlayout-second-col-grid-column, 2);
    display: var(--chotto-adaptiveextendedlayout-second-col-display, flex);
    flex-direction: var(--chotto-adaptiveextendedlayout-second-col-flex-direction, column);
    height: var(--chotto-adaptiveextendedlayout-second-col-height, inherit);
    overflow: var(--chotto-adaptiveextendedlayout-second-col-overflow, hidden);
    border-right: var(--chotto-adaptiveextendedlayout-second-col-border-right, var(--chotto-theme-container-borders, none));
    border-bottom: var(--chotto-adaptiveextendedlayout-second-col-border-bottom, var(--chotto-theme-container-borders, none));
    background-color: var(--chotto-adaptiveextendedlayout-second-col-background-color, var(--chotto-theme-layout-extended-second-col-bg, transparent));
  }

  &__third-col {
    position: var(--chotto-adaptiveextendedlayout-third-col-position, relative);
    display: var(--chotto-adaptiveextendedlayout-third-col-display, flex);
    flex-direction: var(--chotto-adaptiveextendedlayout-third-col-flex-direction, column);
    grid-column: var(--chotto-adaptiveextendedlayout-third-col-grid-column, 3);
    height: var(--chotto-adaptiveextendedlayout-third-col-height, inherit);
    border-right: var(--chotto-adaptiveextendedlayout-third-col-border-right, var(--chotto-theme-container-borders, none));
    border-bottom: var(--chotto-adaptiveextendedlayout-third-col-border-bottom, var(--chotto-theme-container-borders, none));
    background-color: var(--chotto-adaptiveextendedlayout-third-col-background-color, var(--chotto-theme-layout-extended-third-col-bg, transparent));
    width: var(--chotto-adaptiveextendedlayout-third-col-width, auto);
  }
}

@container all (width > 920px){
  .extend-layout{
    &__container{
      grid-template-columns: var(--chotto-adaptiveextendedlayout-container-desktop-grid-template-columns, min-content 30% calc(70% - var(--chotto-adaptive-extended-layout-first-col-width)));
    }
  }
}

@container all (width < 920px){
  .extend-layout{
    &__container{
      grid-template-columns: var(--chotto-adaptiveextendedlayout-container-tablet-grid-template-columns, min-content calc(var(--chotto-adaptive-extended-layout-second-col-width) - var(--chotto-adaptive-extended-layout-first-col-width)) calc(var(--chotto-adaptive-extended-layout-third-col-width) - var(--chotto-adaptive-extended-layout-first-col-width)));
    }
    &__second-col{
      display: var(--chotto-adaptive-extended-layout-second-col-display);
    }
    &__third-col{
      display: var(--chotto-adaptive-extended-layout-third-col-display);
    }
  }
}

@container all (width < 720px){
  .extend-layout{
    &__container{
      grid-template-columns: var(--chotto-adaptiveextendedlayout-container-mobile-grid-template-columns, min-content var(--chotto-adaptive-extended-layout-second-col-width) var(--chotto-adaptive-extended-layout-third-col-width));
    }
    &__first-col{
      display: var(--chotto-adaptiveextendedlayout-first-col-mobile-display, none);
    }
  }
}

.v-enter-active,
.v-leave-active {
  transition: var(--chotto-adaptiveextendedlayout-transition-enter-active-transition, opacity 0.5s ease);
  opacity: var(--chotto-adaptiveextendedlayout-transition-enter-active-opacity, 1);
}

.v-enter-from,
.v-leave-to {
  opacity: var(--chotto-adaptiveextendedlayout-transition-enter-from-opacity, 0);
}
