:global([data-theme="green"]) {
  // WABAAttachmentSection main variables
  --chotto-wabaattachmentsection-position: relative;
  --chotto-wabaattachmentsection-display: flex;
  --chotto-wabaattachmentsection-text-align: center;
  --chotto-wabaattachmentsection-align-items: center;
  --chotto-wabaattachmentsection-justify-content: center;
  --chotto-wabaattachmentsection-gap: 8px;
  --chotto-wabaattachmentsection-border-radius: 5px;
  --chotto-wabaattachmentsection-background-color: #FEF3B8;
  --chotto-wabaattachmentsection-padding-top: 10px;
  --chotto-wabaattachmentsection-padding-bottom: 10px;
  --chotto-wabaattachmentsection-margin-bottom: 5px;

  // WABAAttachmentSection error variables
  --chotto-wabaattachmentsection-error-border: 1px solid var(--p-red-600);

  // WABAAttachmentSection icon variables
  --chotto-wabaattachmentsection-icon-padding-left: 10px;
  --chotto-wabaattachmentsection-icon-color: var(--chotto-primary-text-color);

  // WABAAttachmentSection title variables
  --chotto-wabaattachmentsection-title-font-size: var(--chotto-additional-text-font-size);
  --chotto-wabaattachmentsection-title-color: var(--chotto-primary-text-color);
  --chotto-wabaattachmentsection-title-font-weight: 600;

  // WABAAttachmentSection info variables
  --chotto-wabaattachmentsection-info-margin-top: 1px;
  --chotto-wabaattachmentsection-info-color: var(--chotto-secondary-text-color);
  --chotto-wabaattachmentsection-info-font-size: var(--chotto-additional-text-font-size);
  --chotto-wabaattachmentsection-info-word-break: break-word;
  --chotto-wabaattachmentsection-info-font-weight: 600;

  // WABAAttachmentSection error text variables
  --chotto-wabaattachmentsection-error-text-color: var(--p-red-600);
  --chotto-wabaattachmentsection-error-text-margin-left: 5px;
  --chotto-wabaattachmentsection-error-text-font-size: var(--chotto-small-text-font-size);

  // WABAAttachmentSection hover variables
  --chotto-wabaattachmentsection-hover-cursor: pointer;
  --chotto-wabaattachmentsection-hover-background-color: #fef3b890;
}
