.chat-panel {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100%;

  &::-webkit-scrollbar {
    width: var(--chotto-chatpanel-scrollbar-width, 6px);
    background-color: var(--chotto-theme-scrollbar-bg);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--chotto-chatpanel-scrollbar-thumb-radius, 10px);
    background-color: var(--chotto-theme-scrollbar-thumb-bg);
  }

  &::-webkit-scrollbar-track {
    border-radius: var(--chotto-chatpanel-scrollbar-track-radius, 10px);
  }

  &__header {
    display: flex;
    gap: var(--chotto-chatpanel-header-gap, 6px);
  }

  &__title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: var(--chotto-theme-header-font-size);
    font-weight: var(--chotto-theme-header-font-weight);
    font-family: var(--chotto-theme-header-font);
    color: var(--chotto-theme-secondary-text-color);
    letter-spacing: var(--chotto-chatpanel-title-letter-spacing, 0.5px);
  }

  &__button-close {
    background-color: transparent;
    border: none;
    cursor: pointer;

    span {
      font-size: var(--chotto-theme-button-icon-size);
      color: var(--chotto-theme-button-color-active);
    }
  }
}
