:root {

  /* Chat Item */

  /* Info Container */
  --chat-item-font-size-name: 16px;
  --chat-item-font-size-last-message: 14px;

  /* Details Container */
  --chat-item-min-width-unread: 22px;
  --chat-item-min-height-unread: 22px;
  --chat-item-font-size-unread: 14px;


  /* Text Message */

  --text-message-border-radius: 14px;
  --text-message-max-width: 40%;
  --text-message-margin: 0 0 10px 0;
  --text-message-padding: 10px 10px 4px 16px;

  /* File Message */

  --file-message-border-radius: 14px;
  --file-message-gap: 12px;
  --file-message-margin: 0 0 10px 0;
  --file-message-padding: 10px 10px 4px 16px;

  /* Image Message */

  --image-message-max-width: 40%;
  --image-message-margin: 0 0 7px 0;

  /* _____________________________________________ */

  /* Audio Message */

  --audio-message-gap: 12px;
  --audio-message-width: 40%;
  --audio-message-border-radius: 14px;
  --audio-message-padding: 10px 16px 4px 16px;
  --audio-message-margin: 0 0 10px 0;

  --audio-message-button-width: 38px;
  --audio-message-button-height: 38px;
  --audio-message-button-border-radius: 50%;


  /* progress-bar-container -> pbc */

  --audio-message-pbc-border-radius: 10px;
  --audio-message-pbc-height: 8px;

  /* progress-bar -> pb */

  --audio-message-pb-border-radius: 10px;

  /* remaining-time -> rt */

  --audio-message-rt-font-size: 12px;
  /* _____________________________________________ */

  /* Video Message */

  --video-message-width: 200px;
  --video-message-height: 200px;
  --video-message-border-radius: 50%;

  --video-message-button-width: 40px;
  --video-message-button-height: 40px;
  --video-message-button-border-radius: 50%;

  /* Call Message */

  --call-message-padding: 10px 16px 4px 16px;
  --call-message-width: 51%;
  --call-message-min-width: 30%;
  --call-message-gap: 12px;
  --call-message-icon-height: 38px;
  --call-message-icon-width: 38px;

  /* Channels */

  --channels-title-font-size: 14px;

  --channels-selected-gap: 6px;
  --channels-selected-align-items: center;
  --channels-selected-icon-width: 16px;
  --channels-selected-icon-height: 16px;

  --channels-popover-position-top: -54px;
  --channels-popover-position-right: 78px;
  --channels-popover-padding: 18px;
  --channels-popover-border-radius: 10px;

  /* Сontext Menu */

  --context-menu-border-radius: 8px;
  --context-menu-padding: 12px 0;
  --context-menu-list-row-gap: 6px;
  --context-menu-item-column-gap: 12px;

  /* Chat Input */
  --chat-input-button-padding: 14px;

  /* Status Message */

  --status-message-font-size: 12px;

  /* Subtext */
  --subtext-font-size: 12px;

  /* FloatWindow */
  --float-window-padding: 18px 20px;
}
