.modal{
  &__contact-line{
    display: var(--chotto-createdialog-contact-line-display, flex);
    margin: var(--chotto-createdialog-contact-line-margin, 10px 0);
    justify-content: var(--chotto-createdialog-contact-line-justify-content, space-between);
  }

  &__channel-line{
    display: var(--chotto-createdialog-channel-line-display, flex);
    margin: var(--chotto-createdialog-channel-line-margin, 10px 0);
    justify-content: var(--chotto-createdialog-channel-line-justify-content, space-between);
  }

  &__button-start{
    margin-left: var(--chotto-createdialog-button-start-margin-left, calc(100% - 98px));
  }
}
