@use './themes/default.scss';
@use './themes/dark.scss';
@use './themes/green.scss';
@use './themes/mobilon1.scss';

.attachment-section {
  position: relative;
  display: flex;

  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 5px;
  background-color: var(--chotto-attachment-section-color);

  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;

  &__error{
    border: 1px solid var(--chotto-attachment-section-error-color);
  }

  &__icon{
    padding-left: 10px;
    color: var(--chotto-primary-text-color);

  }

  &__title{
    font-size: var(--chotto-additional-text-font-size);
    color: var(--chotto-primary-text-color);
    font-weight: 600;
  }

  &__info{
    margin-top: 1px;
    color: var(--chotto-secondary-text-color);
    font-size: var(--chotto-additional-text-font-size);
    word-break: break-word;
    font-weight: 600;
  }

  &__error-text{
    color: var(--chotto-attachment-section-error-color);
    margin-left: 5px;
    font-size: var(--chotto-small-text-font-size);
  }
}

.attachment-section:hover {
  cursor: pointer;
  background-color: var(--chotto-attachment-section-hover-color);
}


