:global([data-theme="light"]) {
  // ButtonContextMenu variables
  --chotto-buttoncontextmenu-position: relative;
  --chotto-buttoncontextmenu-width: fit-content;
  --chotto-buttoncontextmenu-border: none;
  --chotto-buttoncontextmenu-background: transparent;
  --chotto-buttoncontextmenu-height: fit-content;
}
