:global([data-theme="mobilon1"]) {
  --chotto-feedsearch-container-margin-top: 10px;
  --chotto-feedsearch-container-padding-left: 12px;
  --chotto-feedsearch-container-padding-right: 12px;
  --chotto-feedsearch-container-margin-bottom: 10px;
  --chotto-feedsearch-icon-right: 20px;
  --chotto-feedsearch-icon-top: 11px;
  --chotto-feedsearch-input-margin-left: 10px;
  --chotto-feedsearch-enter-duration: 2s;
  --chotto-feedsearch-leave-duration: 2s;
  --chotto-feedsearch-scale: 0.9;
}


