@use './themes/default.scss';
@use './themes/dark.scss';
@use './themes/green.scss';
@use './themes/mobilon1.scss';

.profile {

  &__container {
    display: grid;
    grid-template-columns: min-content 1fr;
    padding: 20px 12px 20px 9px;
  }

  &__name {
    grid-column: 2;
    /* var*/font-size: 20px;
    margin: 0;
  }

  &__email {
    grid-column: 2;
    /* var*/font-size: 16px;
    margin: 0;
  }

  &__phone {
    grid-column: 2;
    /* var*/font-size: 16px;
    margin: 0;
  }

  &__avatar-container {
    grid-row: 1 / 4;
    position: relative;
    display: flex;
    margin: auto 15px auto 0;
    position: relative;
    border-radius: var(--chotto-avatar-border-radius);

    img {
      border-radius: var(--chotto-avatar-border-radius);
      object-fit: cover;
    }
  }

  &__status {
    position: absolute;
    bottom: 0;
    right: 5px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    z-index: 1;
  }
}
