:global([data-theme="dark"]) {
  --chotto-chat-list-filter-margin: 0 15px 10px 15px;
  --chotto-chat-list-items-padding: 0;
  --chotto-chat-list-title-container-padding: 16px 0 16px 15px;
  --chotto-chat-list-fixed-background-color: var(--neutral-800);
}


