:global([data-theme="mobilon1"]) {
  --chotto-chat-list-filter-margin: 0 16px 10px 15px;
  --chotto-chat-list-items-padding: 0;
  --chotto-chat-list-title-container-padding: 20px 0 20px 15px;
  --chotto-chat-list-fixed-background-color: var(--default-white);
  --chotto-chat-list-container-border-bottom-color: var(--neutral-75);
  --chotto-chat-list-container-border-bottom-width: 416px;
  --chotto-chat-list-container-border-bottom-height: 1px;
}


