.video-recorder {
  &__container {
    position: var(--chotto-videorecorder-container-position, relative);
    display: var(--chotto-videorecorder-container-display, grid);
    align-items: var(--chotto-videorecorder-container-align-items, center);
    background-color: var(--chotto-videorecorder-container-background-color, transparent);
    height: var(--chotto-videorecorder-container-height, fit-content);
  }

  &__button {
    background-color: var(--chotto-videorecorder-button-background-color, transparent);
    border: var(--chotto-videorecorder-button-border, 0px);

    span {
      display: var(--chotto-videorecorder-button-span-display, block);
      cursor: var(--chotto-videorecorder-button-span-cursor, pointer);
      padding: var(--chotto-videorecorder-button-span-padding);
      font-size: var(--chotto-videorecorder-button-span-font-size);
      color: var(--chotto-videorecorder-button-span-color);
    }
  }

  &__button:hover span{
    color: var(--chotto-videorecorder-button-hover-span-color);
  }

  &__button-disabled {
    pointer-events: var(--chotto-videorecorder-button-disabled-pointer-events, none);
    span {
      cursor: var(--chotto-videorecorder-button-disabled-span-cursor, auto);
      color: var(--chotto-videorecorder-button-disabled-span-color);
    }
  }
}


