.template-selector {
  --chotto-template-first-col-display: none;
  
  --chotto-template-second-col-display: grid;

  --chotto-template-third-col-display: none;

  position: var(--chotto-templateselector-position, absolute);
  bottom: var(--chotto-templateselector-bottom, 100%);
  left: var(--chotto-templateselector-left, 0);
  right: var(--chotto-templateselector-right, 0);
  z-index: var(--chotto-templateselector-z-index, 100);
  container: var(--chotto-templateselector-container, templates / inline-size);

  &__container-inline {
    max-height: var(--chotto-templateselector-container-inline-max-height, 500px);
    padding: var(--chotto-templateselector-container-inline-padding, 16px 5px 5px 5px);
    background-color: var(--chotto-theme-primary-color);
    border-top: var(--chotto-templateselector-container-inline-border-top, 1px solid var(--chotto-theme-item-border-color));
    border-bottom: var(--chotto-templateselector-container-inline-border-bottom, 1px solid var(--chotto-theme-item-border-color));
    box-sizing: var(--chotto-templateselector-container-inline-box-sizing, border-box);
    min-width: var(--chotto-templateselector-container-inline-min-width, 478px);
  }

  &__container-elevated{
    position: var(--chotto-templateselector-container-elevated-position, absolute);
    max-height: var(--chotto-templateselector-container-elevated-max-height, 500px);
    padding: var(--chotto-templateselector-container-elevated-padding, 16px 5px 5px 5px);
    background-color: var(--chotto-theme-primary-color);
    border: var(--chotto-templateselector-container-elevated-border, 1px solid var(--chotto-theme-item-border-color));
    min-width: var(--chotto-templateselector-container-elevated-min-width, 478px);
    box-shadow: var(--chotto-templateselector-container-elevated-box-shadow, 5px 5px 29px -15px var(--chotto-theme-shadow-color));
    bottom: var(--chotto-templateselector-container-elevated-bottom, 20px);
    right: var(--chotto-templateselector-container-elevated-right, 20px);
  }

  &__layout{
    max-height: var(--chotto-templateselector-layout-max-height, 400px);
    display: var(--chotto-templateselector-layout-display, grid);
    box-sizing: var(--chotto-templateselector-layout-box-sizing, border-box);
    grid-template-columns: var(--chotto-templateselector-layout-grid-template-columns, 0.5fr 1.3fr 1fr);
    grid-template-rows: var(--chotto-templateselector-layout-grid-template-rows, min-content min-content 1fr min-content);
    column-gap: var(--chotto-templateselector-layout-column-gap, 5px);
  }

  &__first-col{
    display: var(--chotto-templateselector-first-col-display, grid);
    grid-column: var(--chotto-templateselector-first-col-grid-column, 1);
    grid-row: var(--chotto-templateselector-first-col-grid-row, 2 / 5);
    grid-template-rows: var(--chotto-templateselector-first-col-grid-template-rows, min-content auto);
  }

  &__second-col{
    display: var(--chotto-templateselector-second-col-display, grid);
    grid-column: var(--chotto-templateselector-second-col-grid-column, 2);
    grid-row: var(--chotto-templateselector-second-col-grid-row, 2 / 5);
    grid-template-rows: var(--chotto-templateselector-second-col-grid-template-rows, min-content min-content auto);
  }

  &__third-col{
    display: var(--chotto-templateselector-third-col-display, grid);
    grid-column: var(--chotto-templateselector-third-col-grid-column, 3);
    grid-row: var(--chotto-templateselector-third-col-grid-row, 2 / 5);
    grid-template-rows: var(--chotto-templateselector-third-col-grid-template-rows, min-content auto min-content);
  }

  &__button-close {
    grid-row: var(--chotto-templateselector-button-close-grid-row, 1);
    align-self: var(--chotto-templateselector-button-close-align-self, flex-start);
    display: var(--chotto-templateselector-button-close-display, block);
    background-color: var(--chotto-templateselector-button-close-background-color, transparent);
    border: var(--chotto-templateselector-button-close-border, none);
    width: var(--chotto-templateselector-button-close-width, fit-content);
    cursor: var(--chotto-templateselector-button-close-cursor, pointer);
    margin: var(--chotto-templateselector-button-close-margin, 0 16px 20px auto);

    span {
      font-size: var(--chotto-theme-button-icon-size);
      color: var(--chotto-theme-button-color-active);
    }
  }

  
  &__list-groups {
    grid-row: var(--chotto-templateselector-list-groups-grid-row, 2);
    overflow-y: var(--chotto-templateselector-list-groups-overflow-y, auto);
    border: var(--chotto-templateselector-list-groups-border, 1px solid var(--chotto-theme-item-border-color));
    padding: var(--chotto-templateselector-list-groups-padding, 0);
    margin: var(--chotto-templateselector-list-groups-margin, 0);

    &::-webkit-scrollbar {
      width: var(--chotto-templateselector-list-groups-webkit-scrollbar-width, 6px);
      background-color: var(--scrollbar-bg);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: var(--chotto-templateselector-list-groups-webkit-scrollbar-thumb-border-radius, 10px);
      background-color: var(--scrollbar-thumb-bg);
    }

    &::-webkit-scrollbar-track {
      border-radius: var(--chotto-templateselector-list-groups-webkit-scrollbar-track-border-radius, 10px);
    }
  }

  &__list-templates{
    padding: var(--chotto-templateselector-list-templates-padding, 0);
    margin: var(--chotto-templateselector-list-templates-margin, 0);
  }

  &__templates {
    grid-row: var(--chotto-templateselector-templates-grid-row, 3);
    border: var(--chotto-templateselector-templates-border, 1px solid var(--chotto-theme-item-border-color));
    overflow-y: var(--chotto-templateselector-templates-overflow-y, auto);

    &::-webkit-scrollbar {
      width: var(--chotto-templateselector-templates-webkit-scrollbar-width, 6px);
      background-color: var(--chotto-theme-scrollbar-bg);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: var(--chotto-templateselector-templates-webkit-scrollbar-thumb-border-radius, 10px);
      background-color: var(--chotto-theme-scrollbar-thumb-bg);
    }

    &::-webkit-scrollbar-track {
      border-radius: var(--chotto-templateselector-templates-webkit-scrollbar-track-border-radius, 10px);
    }
  }

  &__item-template,
  &__item-group {
    transition: var(--chotto-templateselector-item-transition, 0.2s);

    &:hover {
      background-color: var(--chotto-theme-item-background-color-hover);
    }

    &:not(:last-child) {
      border-bottom: var(--chotto-templateselector-item-border-bottom, 1px solid var(--chotto-theme-item-border-color));
    }
  }

  &__item-group {
    display: var(--chotto-templateselector-item-group-display, flex);
    align-items: var(--chotto-templateselector-item-group-align-items, center);
  }

  &__item-selected {
    background-color: var(--chotto-theme-item-background-color-focus);

    &:hover {
      background-color: var(--chotto-theme-item-background-color-hover);
    }
  }

  &__item-template {
    cursor: var(--chotto-templateselector-item-template-cursor, pointer);
    padding: var(--chotto-templateselector-item-template-padding, 10px 12px);
  }

  &__label-group {
    padding: var(--chotto-templateselector-label-group-padding, 10px 12px);
    display: var(--chotto-templateselector-label-group-display, flex);
    align-items: var(--chotto-templateselector-label-group-align-items, center);
    column-gap: var(--chotto-templateselector-label-group-column-gap, 10px);
    width: var(--chotto-templateselector-label-group-width, 100%);
    height: var(--chotto-templateselector-label-group-height, 100%);
    cursor: var(--chotto-templateselector-label-group-cursor, pointer);

    img {
      width: var(--chotto-templateselector-label-group-img-width, 30px);
      height: var(--chotto-templateselector-label-group-img-height, 30px);
    }

    input {
      display: var(--chotto-templateselector-label-group-input-display, none);
    }

    span {
      line-height: var(--chotto-templateselector-label-group-span-line-height, 1);
    }
  }

  &__item-title {
    margin-bottom: var(--chotto-templateselector-item-title-margin-bottom, 8px);
    font-weight: var(--chotto-theme-title-font-weight);
    font-size: var(--chotto-theme-title-font-size);
  }

  &__item-text {
    font-size: var(--chotto-theme-text-font-size);
    overflow: var(--chotto-templateselector-item-text-overflow, hidden);
    text-overflow: var(--chotto-templateselector-item-text-text-overflow, ellipsis);
    display: var(--chotto-templateselector-item-text-display, -webkit-box);
    -webkit-line-clamp: var(--chotto-templateselector-item-text-webkit-line-clamp, 3);
    line-clamp: var(--chotto-templateselector-item-text-line-clamp, 3);
    -webkit-box-orient: var(--chotto-templateselector-item-text-webkit-box-orient, vertical);
  }

  &__searching-container {
    grid-row: var(--chotto-templateselector-searching-container-grid-row, 2);
    width: var(--chotto-templateselector-searching-container-width, 100%);
    margin-bottom: var(--chotto-templateselector-searching-container-margin-bottom, 16px);
    margin-right: var(--chotto-templateselector-searching-container-margin-right, 10px);
  }

  &__searching-input {
    background-color: var(--chotto-templateselector-searching-input-background-color, transparent);
    width: var(--chotto-templateselector-searching-input-width, 100%);
    padding: var(--chotto-input-padding);
    background-color: var(--chotto-input-background);
    border-radius: var(--chotto-input-border-radius);
    font-size: var(--chotto-input-font-size);
    color: var(--chotto-theme-primary-text-color);
    border: var(--chotto-input-border);
    transition: var(--chotto-templateselector-searching-input-transition, border-color var(--chotto-input-transition-duration));
    box-sizing: var(--chotto-templateselector-searching-input-box-sizing, border-box);

    &::placeholder {
      color: var(--chotto-theme-secondary-text-color);
    }

    &:hover {
      border-color: var(--chotto-input-hover-border-color);
    }

    &:focus-visible {
      border-color: var(--chotto-input-focus-border-color);
      outline: var(--chotto-templateselector-searching-input-focus-outline, none);
    }
  }

  &__preview-container {
    grid-row: var(--chotto-templateselector-preview-container-grid-row, 2);
    border: var(--chotto-templateselector-preview-container-border, 1px solid var(--chotto-theme-item-border-color));
    max-height: var(--chotto-templateselector-preview-container-max-height, 375px);
    overflow-y: var(--chotto-templateselector-preview-container-overflow-y, auto);
    background-color: var(--chotto-theme-secondary-color);
    
    &::-webkit-scrollbar {
      width: var(--chotto-templateselector-preview-container-webkit-scrollbar-width, 6px);
      background-color: var(--chotto-theme-scrollbar-bg);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: var(--chotto-templateselector-preview-container-webkit-scrollbar-thumb-border-radius, 10px);
      background-color: var(--chotto-theme-scrollbar-thumb-bg);
    }

    &::-webkit-scrollbar-track {
      border-radius: var(--chotto-templateselector-preview-container-webkit-scrollbar-track-border-radius, 10px);
    }
  }

  &__preview {
    height: var(--chotto-templateselector-preview-height, 100%);
    box-sizing: var(--chotto-templateselector-preview-box-sizing, border-box);
    padding: var(--chotto-templateselector-preview-padding, 5px);
  }

  &__preview-wrapper {
    padding: var(--chotto-templateselector-preview-wrapper-padding, 10px 10px 4px 16px);
    background-color: var(--chotto-theme-message-left-bg);
    border-radius: var(--chotto-templateselector-preview-wrapper-border-radius, 14px);
    max-width: var(--chotto-templateselector-preview-wrapper-max-width, 90%);
    margin-bottom: var(--chotto-templateselector-preview-wrapper-margin-bottom, 15px);
  }

  &__plug {
    width: var(--chotto-templateselector-plug-width, 100%);
    height: var(--chotto-templateselector-plug-height, 100%);
    font-size: var(--chotto-theme-text-font-size);
    display: var(--chotto-templateselector-plug-display, flex);
    justify-content: var(--chotto-templateselector-plug-justify-content, center);
    align-items: var(--chotto-templateselector-plug-align-items, center);
    padding: var(--chotto-templateselector-plug-padding, 0);
    margin: var(--chotto-templateselector-plug-margin, 0);
    line-height: var(--chotto-templateselector-plug-line-height, 20);
  }

  &__preview-text {
    font-size: var(--chotto-theme-text-font-size);
    word-break: var(--chotto-templateselector-preview-text-word-break, break-word);
    white-space: var(--chotto-templateselector-preview-text-white-space, pre-line);
  }

  &__preview-time {
    width: var(--chotto-templateselector-preview-time-width, fit-content);
    font-size: var(--chotto-theme-additional-text-font-size);
    color: var(--chotto-theme-secondary-text-color);
    margin-left: var(--chotto-templateselector-preview-time-margin-left, auto);
  }

  &__button-paste {
    grid-row: var(--chotto-templateselector-button-paste-grid-row, 3);
    display: var(--chotto-templateselector-button-paste-display, block);
    width: var(--chotto-templateselector-button-paste-width, fit-content);
    justify-self: var(--chotto-templateselector-button-paste-justify-self, flex-end);
    margin: var(--chotto-templateselector-button-paste-margin, 16px 0 0 0);
    font-size: var(--chotto-theme-title-font-size);
    background-color: var(--chotto-theme-action-button-color-active);
    border: var(--chotto-templateselector-button-paste-border, none);
    padding: var(--chotto-templateselector-button-paste-padding, 8px 16px);
    border-radius: var(--chotto-templateselector-button-paste-border-radius, 10px);
    cursor: var(--chotto-templateselector-button-paste-cursor, pointer);

    &:hover{
      background-color: var(--chotto-theme-action-button-color-hover);
    }
  }

  
}

@container templates (width < 700px) {
  .template-selector {
    &__layout{
      grid-template-columns: var(--chotto-templateselector-layout-responsive-grid-template-columns, 1fr);
    }
    &__first-col{
      display: var(--chotto-template-first-col-display);
      grid-column: var(--chotto-templateselector-first-col-responsive-grid-column, 1);
    }
    &__second-col{
      display: var(--chotto-template-second-col-display);
      grid-column: var(--chotto-templateselector-second-col-responsive-grid-column, 1);
    }
    &__third-col{
      display: var(--chotto-template-third-col-display);
      grid-column: var(--chotto-templateselector-third-col-responsive-grid-column, 1);
    }
  }
}
