@import url("variables.css");

:root {

    /* Inputs */
    --d-inputtext-background: var(transparent);
    --d-inputtext-color: var(--neutral-200);
    --d-inputtext-border: 1px solid var(--neutral-200);
    --d-inputtext-placeholder-color: var(--neutral-400);

    --d-inputtext-hover-border-color: var(--neutral-400);
    --d-inputtext-focus-border-color: var(--neutral-600);

    /* Avatars */

    --d-avatar-background-color: var(--neutral-300);
    --d-avatar-icon-color: var(--neutral-500);
    --d-avatar-message-background-color: var(--neutral-700);
    --d-avatar-message-icon-color: var(--neutral-400);

    /* Icons */

    --d-icon-color: var(--neutral-300);

    /* Modals */

    --d-modal-background-color: var(--neutral-900);
    --d-modal-border-color: var(--neutral-500);

    /* _____________________________________________ */

    /* Chat Item */

    /* Info Container */
    --d-chat-item-selected: var(--neutral-700);
    --d-chat-item-color-last-name: var(--neutral-400);

    /* Details Container */
    --d-chat-item-color-unread: var(--neutral-900);
    --d-chat-item-background-color-unread: var(--emerald-500);

    /* _____________________________________________ */

    /* Text Message */

    --d-text-message-right-background-color: var(--emerald-800);
    --d-text-message-left-background-color: var(--neutral-700);
    --d-text-message-text-color: var(--neutral-200);

    /* File Message */

    --d-file-message-background-color: var(--neutral-700);
    --d-file-message-link-color: var(--neutral-200);

    /* _____________________________________________ */

    /* Audio Message */

    --d-audio-message-background-left: var(--neutral-700);
    --d-audio-message-background-right: var(--emerald-800);

    --d-audio-message-button-background-color-left: var(--neutral-400);
    --d-audio-message-button-background-color-right: var(--neutral-400);
    --d-audio-message-button-icon-color-left: var(--neutral-800);
    --d-audio-message-button-icon-color-right: var(--neutral-800);


    /* progress-bar-container -> pbc */

    --d-audio-message-pbc-background-color: var(--neutral-400);

    /* progress-bar -> pb */

    --d-audio-message-pb-background-color: var(--emerald-600);

    /* _____________________________________________ */

    /* Channels */

    --d-channels-popover-background-color: var(--neutral-600);

    /* Сontext Menu */

    --d-context-menu-background: var(--neutral-700);

    /* Chat Input */
    --d-chat-input-background: var(--neutral-700);
}