@import url("variables.css");

:root {

    /* Inputs */
    --inputtext-background: var(transparent);
    --inputtext-color: var(--neutral-700);
    --inputtext-border: 1px solid var(--neutral-400);
    --inputtext-placeholder-color: var(--neutral-500);

    --inputtext-hover-border-color: var(--neutral-500);
    --inputtext-focus-border-color: var(--neutral-700);

    /* Avatars */

    --avatar-background-color: var(--neutral-300);
    --avatar-icon-color: var(--neutral-500);

    /* Icons */

    --icon-color: var(--neutral-600);

    /* Modals */

    --modal-background-color: var(--default-white);

    /* _____________________________________________ */

    /* Chat Item */

    /* Info Container */
    --chat-item-selected: var(--neutral-200);
    --chat-item-color-last-name: var(--neutral-400);

    /* Details Container */
    --chat-item-color-unread: var(--neutral-100);
    --chat-item-background-color-unread: var(--emerald-500);

    /* _____________________________________________ */

    /* Text Message */

    --text-message-right-background-color: var(--emerald-200);
    --text-message-left-background-color: var(--neutral-200);
    --text-message-text-color: var(--neutral-700);

    /* File Message */

    --file-message-background-color: var(--neutral-200);
    --file-message-link-color: var(--neutral-700);

    /* _____________________________________________ */

    /* Audio Message */

    --audio-message-background-left: var(--neutral-200);
    --audio-message-background-right: var(--emerald-200);

    --audio-message-button-background-color-left: var(--neutral-400);
    --audio-message-button-background-color-right: var(--neutral-100);
    --audio-message-button-icon-color-left: var(--neutral-100);
    --audio-message-button-icon-color-right: var(--neutral-500);


    /* progress-bar-container -> pbc */

    --audio-message-pbc-background-color: var(--neutral-400);

    /* progress-bar -> pb */

    --audio-message-pb-background-color: var(--emerald-500);

    /* _____________________________________________ */


    /* Chat Input */
    --chat-input-background: var(--neutral-200);
}