@import url("variables.css");
@import url("themes.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:wght@300..800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#app {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  font-family: var(--app-font-family);
  font-weight: 400;
  color: var(--app-color);
  background-color: var(--app-bg);
}

.dark #app {
  color: var(--app-color);
  background-color: var(--app-bg);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p,
h1,
h2 {
  margin: 0;
}

a {
  text-decoration: none;
}