/* Colors */

:root {

    /* General */

    --emerald-50: #ecfdf5;
    --emerald-100: #d1fae5;
    --emerald-200: #a7f3d0;
    --emerald-300: #6ee7b7;
    --emerald-400: #34d399;
    --emerald-500: #10b981;
    --emerald-600: #059669;
    --emerald-700: #047857;
    --emerald-800: #065f46;
    --emerald-900: #064e3b;
    --emerald-950: #022c22;

    --neutral-50: #fafafa;
    --neutral-100: #f5f5f5;
    --neutral-200: #e5e5e5;
    --neutral-300: #d4d4d4;
    --neutral-400: #a3a3a3;
    --neutral-500: #737373;
    --neutral-600: #525252;
    --neutral-700: #404040;
    --neutral-800: #262626;
    --neutral-900: #171717;
    --neutral-950: #0a0a0a;

    --default-white: #ffffff;


    /* Inputs */

    --inputtext-font-size: 1rem;
    --inputtext-padding: 0.5rem 0.75rem;
    --inputtext-width: 100%;
    --inputtext-border-radius: 6px;

    --inputtext-transition-duration: 0.2s;

    /* Titles */

    --h2-font-size: 28px;
    --h2-font-weight: 600;

    /* Avatars */

    --avatar-width: 48px;
    --avatar-height: 48px;
    --avatar-border-radius: 50%;
    --avatar-icon-size: 1.5rem;

    /* Icons */

    --icon-font-size-medium: 1.3rem;
    --icon-font-size-large: 1.6rem;

    /* Modals */

    --modal-padding: 20px;
    --modal-width: 45%;
    --modal-border-radius: 12px;
    --modal-mask-background: rgba(0, 0, 0, 0.4);
    --modal-overlay-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);

    /* Chat Item */

    /* Info Container */
    --chat-item-font-size-name: 16px;
    --chat-item-font-size-last-message: 14px;

    /* Details Container */
    --chat-item-min-width-unread: 22px;
    --chat-item-min-height-unread: 22px;
    --chat-item-font-size-unread: 14px;


    /* Text Message */

    --text-message-border-radius: 14px;
    --text-message-max-width: 40%;
    --text-message-margin: 0 0 10px 0;
    --text-message-padding: 12px 60px 12px 16px;

    /* File Message */

    --file-message-border-radius: 14px;
    --file-message-gap: 12px;
    --file-message-margin: 0 0 10px 0;
    --file-message-padding: 12px 60px 12px 16px;

    /* Image Message */

    --image-message-max-width: 40%;
    --image-message-margin: 0 0 7px 0;

    /* _____________________________________________ */

    /* Audio Message */

    --audio-message-gap: 12px;
    --audio-message-max-width: 40%;
    --audio-message-border-radius: 14px;
    --audio-message-padding: 12px 16px;
    --audio-message-margin: 0 0 10px 0;

    --audio-message-button-width: 38px;
    --audio-message-button-height: 38px;
    --audio-message-button-border-radius: 50%;


    /* progress-bar-container -> pbc */

    --audio-message-pbc-border-radius: 10px;
    --audio-message-pbc-height: 8px;
    --audio-message-pbc-background-color: var(--neutral-400);
    --audio-message-pbc-margin: 8px 0 0 0;

    /* progress-bar -> pb */

    --audio-message-pb-border-radius: 10px;

    /* remaining-time -> rt */

    --audio-message-rt-font-size: 12px;
    /* _____________________________________________ */

    /* Video Message */

    --video-message-width: 200px;
    --video-message-height: 200px;
    --video-message-border-radius: 50%;

    --video-message-button-width: 40px;
    --video-message-button-height: 40px;
    --video-message-button-border-radius: 50%;

    /* Message Info */

    --time-message-font-size: 12px;
    --remaining-time: 12px;

    /* Channels */

    --channels-title-font-size: 14px;

    --channels-selected-gap: 6px;
    --channels-selected-align-items: center;
    --channels-selected-icon-width: 16px;
    --channels-selected-icon-height: 16px;

    --channels-popover-position-top: -54px;
    --channels-popover-position-right: 78px;
    --channels-popover-padding: 18px;
    --channels-popover-border-radius: 10px;

    /* Сontext Menu */

    --context-menu-border-radius: 8px;
    --context-menu-padding: 12px 0;
    --context-menu-list-row-gap: 6px;
    --context-menu-item-column-gap: 18px;

    /* Chat Input */
    --chat-input-button-padding: 14px;
}