:root {

  /* Chat Panel */
  --chat-panel-bg: var(--neutral-100);
  --chat-panel-margin: 0px 0px 0px 10px;
  --chat-panel-border-radius: 12px;

  /* Side Bar */
  --sidebar-padding-container: 18px 8px 30px 8px;
  --sidebar-border: 1px solid var(--neutral-200);
  --sidebar-box-shadow: -13px 0px 20px -21px rgba(0, 0, 0, 0.2);
  --sidebar-image-width: 49px;
  --sidebar-image-height: 49px;
  --sidebar-font-weight-name: 500;
  --sidebar-row-gap-list: 10px;

  /* Chat List */
  --chat-list-fixed-background-color: var(--default-white);
  --chat-list-menu-button: var(--default-white);
  --chat-list-menu-button-color-hover: var(--neutral-700);
  --chat-list-scrollbar-bg: var(--neutral-50);
  --chat-list-scrollbar-thumb-bg: var(--neutral-300);
  --chat-list-button-actions-bg: var(--neutral-300);
  --chat-list-button-actions-width: 32px;
  --chat-list-button-actions-height: 32px;
  --chat-list-items-padding: 0 12px 0 12px;
  --chat-list-filter-margin: 0 12px 30px 12px;
  --chat-list-title-container-padding: 0 12px 20px 12px;

  /* Chat Input */
  --chat-input-container-bg: var(--neutral-100);
  --chat-input-background: var(--default-white);
  --chat-input-border-radius: 0 0 12px 12px;
  --chat-input-border: 1px solid var(--neutral-300);

  --chat-input-icon-color: var(--neutral-600);
  --chat-input-icon-color-disabled: var(--neutral-200);

  /* File Uploader */
  --file-uploader-icon-color: var(--neutral-600);

  /* Float Container */
  --float-container-icon-color: var(--neutral-600);

  /* _____________________________________________ */

  /* Chat Item */

  --chat-item-padding-container: 15px;

  --chat-item-message-status-font-size: 12px;
  --chat-item-message-status-color-received: var(--neutral-500);
  --chat-item-message-status-color-read: #00c2ff;


  /* Info Container */
  --chat-item-border-radius: 6px;
  --chat-item-selected: var(--neutral-100);
  --chat-item-color-last-message: var(--neutral-400);
  --chat-item-font-weight-last-message: 500;
  --chat-item-font-weight-name: 600;

  /* Details Container */
  --chat-item-color-unread: var(--neutral-100);
  --chat-item-bg-unread: var(--emerald-500);
  --chat-item-color-time: var(--neutral-400);
  --chat-item-font-weight-time: 500;
  --chat-item-font-size-time: 12px;
  /* _____________________________________________ */

  /* Chat Info */
  --chat-info-padding: 20px 20px 20px 20px;
  --chat-info-font-weight-time: 500;
  --chat-info-font-weight-title: 600;
  --chat-info-border-radius: 12px 12px 0 0;
  --chat-info-border: 1px solid var(--neutral-200);

  /* Feed */
  --feed-button-down-bg: var(--default-white);
  --feed-button-down-uread-color: var(--neutral-100);
  --feed-button-down-uread-bg: var(--emerald-500);
  --feed-button-down-icon-color: var(--neutral-600);

  /* Ð¡ontext Menu */
  --context-menu-background: var(--default-white);

  /* Channel Selector */
  --channels-selector-icon-color: var(--neutral-600);

  --channels-selector-popover-background-color: var(--default-white);
  --channels-selector-popover-border-radius: 10px;

  /* Scroll Bar */
  --scrollbar-bg: var(--neutral-50);
  --scrollbar-thumb-bg: var(--neutral-300);

  /* Template Selector */
  --template-selector-bg: var(--default-white);
  --template-selector-item-hover: var(--neutral-50);
  --template-selector-item-selected: var(--neutral-100);
  --template-selector-border: 1px solid var(--neutral-200);
  --template-selector-icon-color: var(--neutral-500);
  --template-selector-preview-bg: var(--neutral-100);
  --template-selector-button-paste-bg: var(--neutral-200);
  --template-selector-button-paste-color: var(--neutral-800);
}