:root {
  /* Layouts */

  /* Extended layout */
  --layout-extended-bg: var(--default-white);
  --layout-extended-third-col-bg: var(--neutral-100);

  /* Base layout */
  --layout-base-bg: var(--neutral-100);


}
