:root {

  /* General Message*/
  --base-message-right-bg: var(--emerald-100);
  --base-message-left-bg: var(--neutral-200);

  --base-message-font-size-text: 16px;
  --base-message-font-size-time: 12px;
  --base-message-font-size-remaining-time: 12px;
  --base-message-status-font-size: 12px;
  --base-message-views-font-size: 12px;
  --base-message-views-icon-font-size: 13px;

  --base-message-color-time: var(--neutral-700);
  --base-message-color-views: var(--neutral-700);
  --base-message-subtext-color: var(--neutral-500);
  --base-message-status-color-received: var(--neutral-500);
  --base-message-status-color-read: #00c2ff;

  --base-message-margin: 0 0 10px 0;

  /* Reply Messages */
  --reply-message-right-bg: rgb(152 219 188 / 46%);
  --reply-message-left-bg: var(--neutral-300);
  --reply-message-color: var(--neutral-600);

  /* Date Message */
  --date-message-color: var(--neutral-700);

  /* File Message */
  --file-message-icon-color: var(--neutral-600);
  --file-message-text-color: var(--neutral-950);

  /* _____________________________________________ */

  /* Audio Message */
  --audio-message-button-icon-color: var(--neutral-100);
  --audio-message-download-button: var(--neutral-500);
  --audio-message-transcript-color: var(--neutral-700);

  /* progress-bar-container -> pbc */
  --audio-message-pbc-background-color: var(--neutral-400);

  /* progress-bar -> pb */
  --audio-message-pb-background-color: var(--emerald-500);

  /* _____________________________________________ */

  /* Call Message */
  --call-message-font-size-title: 16px;
  --call-message-color-duration: var(--neutral-700);
}
