@use './themes/default.scss';
@use './themes/dark.scss';
@use './themes/green.scss';
@use './themes/mobilon1.scss';

.typing-message {
  &__container {
    display: var(--chotto-typingmessage-container-display, grid);
    grid-template-columns: var(--chotto-typingmessage-container-grid-template-columns, min-content 1fr);
    position: var(--chotto-typingmessage-container-position, relative);
    margin: var(--chotto-typingmessage-container-margin);
  }

  &__subtext {
    grid-column: var(--chotto-typingmessage-subtext-grid-column, 2);
    grid-row: var(--chotto-typingmessage-subtext-grid-row, 1);
    margin: var(--chotto-typingmessage-subtext-margin, 0 0 2px 10px);
    font-size: var(--chotto-typingmessage-subtext-font-size);
    color: var(--chotto-typingmessage-subtext-color);
  }

  &__avatar {
    align-self: var(--chotto-typingmessage-avatar-align-self, center);
    object-fit: var(--chotto-typingmessage-avatar-object-fit, cover);
    min-width: var(--chotto-typingmessage-avatar-min-width);
    min-height: var(--chotto-typingmessage-avatar-min-height);
    border-radius: var(--chotto-typingmessage-avatar-border-radius);
    grid-column: var(--chotto-typingmessage-avatar-grid-column, 1);
    grid-row: var(--chotto-typingmessage-avatar-grid-row, 2);
    margin-right: var(--chotto-typingmessage-avatar-margin-right, 12px);
  }

  &__loader-container {
    min-height: var(--chotto-typingmessage-loader-container-min-height, 40px);
    grid-column: var(--chotto-typingmessage-loader-container-grid-column, 2);
    border-radius: var(--chotto-typingmessage-loader-container-border-radius, 10px);
    padding: var(--chotto-typingmessage-loader-container-padding, 6px 6px 6px 6px);
    max-width: var(--chotto-typingmessage-loader-container-max-width, 80px);
    background-color: var(--chotto-typingmessage-loader-container-background-color);
  }

  &__loader {
    width: var(--chotto-typingmessage-loader-width, 8px);
    height: var(--chotto-typingmessage-loader-height, 8px);
    position: var(--chotto-typingmessage-loader-position, relative);
    top: var(--chotto-typingmessage-loader-top, 50%);
    border-radius: var(--chotto-typingmessage-loader-border-radius, 50%);
    animation: typing-message__loader 0.8s 0.25s ease alternate infinite;
    margin: var(--chotto-typingmessage-loader-margin, -20px auto 0);

    &::after,
    &::before {
      content: var(--chotto-typingmessage-loader-pseudo-content, '');
      position: var(--chotto-typingmessage-loader-pseudo-position, absolute);
      width: var(--chotto-typingmessage-loader-pseudo-width, 8px);
      height: var(--chotto-typingmessage-loader-pseudo-height, 8px);
      border-radius: var(--chotto-typingmessage-loader-pseudo-border-radius, 50%);
      animation: typing-message__loader 0.8s ease alternate infinite;
    }

    &::before {
      left: -20px;
      animation-delay: 0.1s;
    }

    &::after {
      right: -20px;
      animation-delay: 0.4s;
    }
  }

  @keyframes typing-message__loader {
    0% {
      box-shadow: 0 15px 0 -15px var(--chotto-secondary-text-color);
    }

    100% {
      box-shadow: 0 15px 0 var(--chotto-secondary-text-color);
    }
  }
}
