[data-theme="mobilon1"] {
  --chotto-tooltip-text-color: var(--neutral-850);
  --chotto-tooltip-bg-color: var(--default-white);
  --chotto-tooltip-border: 1px solid var(--neutral-550);
  --chotto-tooltip-border-radius: 5px;
  --chotto-tooltip-padding: 5px 9px 5px 12px;
  --chotto-tooltip-max-width: 372px;
  --chotto-tooltip-text-align: left;
  --chotto-tooltip-font-size: 14px;
}


