@use './themes/default.scss';
@use './themes/dark.scss';
@use './themes/green.scss';
@use './themes/mobilon1.scss';

.feed-found-objects{

  &__items {
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    &::-webkit-scrollbar {
      width: var(--chotto-feedfoundobjects-scrollbar-width, 6px);
      background-color: var(--chotto-theme-scrollbar-bg);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: var(--chotto-feedfoundobjects-scrollbar-thumb-radius, 10px);
      background-color: var(--chotto-theme-scrollbar-thumb-bg);
    }

    &::-webkit-scrollbar-track {
      border-radius: var(--chotto-feedfoundobjects-scrollbar-track-radius, 10px);
    }
  }

  &__placeholder{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
      text-align: center;
    }
  }
}
