:global([data-theme="mobilon1"]) {
  --chotto-communication-panel-btn-active-color: var(--azure-600);
  --chotto-communication-panel-btn-divider-color: var(--neutral-90);
  --chotto-communication-panel-btn-width: 50px;
}


