@use './themes/default.scss';
@use './themes/dark.scss';
@use './themes/green.scss';
@use './themes/mobilon1.scss';

.button-template {
  background-color: var(--chotto-buttonwabatemplateselector-button-background-color, transparent);
  border: var(--chotto-buttonwabatemplateselector-button-border, 0px);
  height: var(--chotto-buttonwabatemplateselector-button-height, fit-content);
  span {
    display: var(--chotto-buttonwabatemplateselector-button-span-display, block);
    cursor: var(--chotto-buttonwabatemplateselector-button-span-cursor, pointer);
    padding: var(--chotto-buttonwabatemplateselector-button-span-padding);
    font-size: var(--chotto-buttonwabatemplateselector-button-span-font-size);
    color: var(--chotto-buttonwabatemplateselector-button-span-color);
  }
}

.button-template:hover span{
  color: var(--chotto-buttonwabatemplateselector-button-span-hover-color);
}

.button-template-disabled {
  pointer-events: var(--chotto-buttonwabatemplateselector-button-disabled-pointer-events, none);
  span {
    cursor: var(--chotto-buttonwabatemplateselector-button-disabled-span-cursor, auto);
    color: var(--chotto-buttonwabatemplateselector-button-disabled-span-color);
  }
}


