[data-theme="dark"] {
  --chotto-feedfounditem-info-width: 80%;
  --chotto-feedfounditem-first-line-margin-bottom: 10px;
  --chotto-feedfounditem-avatar-margin-right: 10px;
  --chotto-feedfounditem-avatar-icon-size: 24px;
}


