p {
  margin: 0;
  font-size: var(--chotto-additional-text-font-size);
  color: var(--chotto-secondary-text-color);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.video-message {

  &__video {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    object-fit: cover;
    cursor: zoom-in;
    margin: auto;
  }

  &__preview-button {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__text-container {
    word-wrap: break-word;
    align-content: center;
    word-break: break-word;
  }

  &__text{
    margin-top: 8px;
    font-size: var(--chotto-text-font-size);
    color: var(--chotto-primary-text-color);
  }

  &__reply-description {
    display: flex;
    align-items: center;
    column-gap: 6px;
    margin-bottom: 4px;

    span {
      color: var(--chotto-secondary-text-color);
    }
  }

  &__modal-video {
    width: 100%;
    height: 100%;
    max-height: 60%;
    object-fit: cover;
    border-radius: 5px;
    max-height: 80vh;
  }
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.2s ease;
}

.modal-fade-enter-from,
.modal-fade-leave-to {
  opacity: 0;
}

.modal-fade-enter-to,
.modal-fade-leave-from {
  opacity: 1;
}
