[data-theme="diamond"] {

  --app-bg: var(--neutral-800);
  --app-color: var(--neutral-100);

  /* Blocks */
  --rigth-bar-bg: var(--neutral-700);

  /* FloatWindow */
  --float-window-bg: var(--neutral-600);
  --float-window-box-shadow: 0px 0px 20px -10px rgba(144, 144, 144, 0.2);
  --float-window-bg-header: var(--neutral-700);

  /* Chat Panel */
  --chat-panel-bg: var(--neutral-700);
  --chat-panel-widget-bg: var(--neutral-600);

  /* Tool Bar */
  --sidebar-border: 1px solid var(--neutral-400);
  --sidebar-box-shadow: -13px 0px 20px -21px rgba(255, 255, 255, 0.2);

  /* Chat List */
  --chat-list-fixed-background-color: var(--neutral-800);
  --chat-list-menu-button: var(--neutral-800);
  --chat-list-menu-button-color-hover: var(--neutral-100);

  /* Inputs */
  --inputtext-color: var(--neutral-100);
  --inputtext-border: 1px solid var(--neutral-100);
  --inputtext-placeholder-color: var(--neutral-300);

  --inputtext-hover-border-color: var(--neutral-300);
  --inputtext-focus-border-color: var(--neutral-500);

  /* Avatars */
  --avatar-background-color: var(--neutral-200);
  --avatar-icon-color: var(--neutral-400);

  /* Icons */
  --icon-color: var(--neutral-200);

  /* Modals */
  --modal-background-color: var(--neutral-800);
  --modal-border-color: var(--neutral-400);

  /* _____________________________________________ */

  /* Chat Item */

  /* Info Container */
  --chat-item-selected: var(--neutral-600);
  --chat-item-color-last-name: var(--neutral-300);

  /* Details Container */
  --chat-item-color-unread: var(--neutral-800);
  --chat-item-background-color-unread: var(--emerald-400);

  /* _____________________________________________ */

  /* Text Message */
  --text-message-right-background-color: var(--emerald-700);
  --text-message-left-background-color: var(--neutral-600);
  --text-message-text-color: var(--neutral-100);

  /* File Message */
  --file-message-background-color: var(--neutral-600);
  --file-message-link-color: var(--neutral-100);

  /* _____________________________________________ */

  /* Audio Message */
  --audio-message-background-left: var(--neutral-600);
  --audio-message-background-right: var(--emerald-700);

  --audio-message-button-background-color-left: var(--neutral-300);
  --audio-message-button-background-color-right: var(--neutral-300);
  --audio-message-button-icon-color-left: var(--neutral-700);
  --audio-message-button-icon-color-right: var(--neutral-700);

  /* progress-bar-container -> pbc */
  --audio-message-pbc-background-color: var(--neutral-300);

  /* progress-bar -> pb */
  --audio-message-pb-background-color: var(--emerald-500);

  /* _____________________________________________ */

  /* Video Message */
  --video-message-button-background: rgba(0, 0, 0, 0.67);

  /* Call Message */
  --call-message-backgroung-icon: var(--neutral-300);
  --call-message-color-icon-error: #ff5454;

  /* Date Message */
  --date-message-color: var(--neutral-100);

  /* Channels */
  --channels-popover-background-color: var(--neutral-500);

  /* Ð¡ontext Menu */
  --context-menu-background: var(--neutral-600);

  /* Chat Input */
  --chat-input-background: var(--neutral-600);

  /* Status Message */
  --status-message-color-received: var(--neutral-100);
  --status-message-color-read: #00c2ff;

  /* Subtext */
  --subtext-color: var(--neutral-300);

  /* Scroll Bar */
  --scrollbar-bg: var(--neutral-400);
  --scrollbar-thumb-bg: var(--neutral-100);
}
