@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

@import url(green/components.css);
@import url(green/containers.css);
@import url(green/layouts.css);
@import url(green/messages.css);

[data-theme="green"] {
  --app-bg: var(--deefault-white);
  --app-color: var(--neutral-950);
  --app-border-color: var(--neutral-200);
  --app-container-bg: var(--default-white);
  --app-template-col: min-content 1.5fr 3fr 1.25fr;
  --app-margin: 0px 0;
  --app-font-family: "Open Sans", sans-serif;
}
