:global([data-theme="light"]) {
  // PlaceholderComponent placeholder variables
  --chotto-placeholdercomponent-placeholder-padding: 2px 6px;
  --chotto-placeholdercomponent-placeholder-border-radius: 4px;
  --chotto-placeholdercomponent-placeholder-cursor: pointer;
  --chotto-placeholdercomponent-placeholder-line-height: 1.8;

  // PlaceholderComponent filled state variables
  --chotto-placeholdercomponent-placeholder-filled-background-color: var(--chotto-variable-placeholder-filled-color);

  // PlaceholderComponent empty state variables
  --chotto-placeholdercomponent-placeholder-empty-background-color: var(--chotto-variable-placeholder-empty-color);
}
