[data-theme="mobilon1"] {
  // ChatTabs list variables
  --chotto-chattabs-list-display: flex;
  --chotto-chattabs-list-list-style: none;
  --chotto-chattabs-list-padding: 0;
  --chotto-chattabs-list-margin: 0;
  --chotto-chattabs-list-padding-left: 15px;
  --chotto-chattabs-list-gap: 10px;
  --chotto-chattabs-list-margin-bottom: 10px;

  // ChatTabs item variables
  --chotto-chattabs-item-display: flex;
  --chotto-chattabs-item-align-items: center;
  --chotto-chattabs-item-justify-content: center;
  --chotto-chattabs-item-font-size: var(--chotto-theme-text-font-size);
  --chotto-chattabs-item-border: 1px solid var(--chotto-theme-item-border-color, #d0d0d0);
  --chotto-chattabs-item-border-radius: 20px;
  --chotto-chattabs-item-height: 26px;
  --chotto-chattabs-item-min-width: 61px;
  --chotto-chattabs-item-color: var(--chotto-theme-secondary-text-color);
  --chotto-chattabs-item-active-color: var(--chotto-theme-primary-text-color);
  --chotto-chattabs-item-active-font-weight: 600;
  --chotto-chattabs-item-active-background-color: var(--chotto-theme-item-background-color-focus);
  --chotto-chattabs-item-active-border: 1px solid var(--chotto-theme-item-border-color, #d0d0d0);
  --chotto-chattabs-item-hover-background-color: var(--chotto-theme-item-background-color-hover);

  // ChatTabs button variables
  --chotto-chattabs-button-display: flex;
  --chotto-chattabs-button-align-items: center;
  --chotto-chattabs-button-gap: 8px;
  --chotto-chattabs-button-background: none;
  --chotto-chattabs-button-border: none;
  --chotto-chattabs-button-cursor: pointer;
  --chotto-chattabs-button-font-size: inherit;
  --chotto-chattabs-button-color: inherit;
  --chotto-chattabs-button-outline: none;
}
